[2017-03-02 11:46] klesun opened #1 "TODO list"
### Not yet resolved

- `@param` phpdoc completion should work in the implementing method. I mean, if your your interface method has `@param` type information, it should be used in the implementing method. Example: `UpdateHxPnrAction::processPnr()`, completion in `$optionalData` should suggest 'pcc', 'queueNumber', etc...
- Autocomplete array-s passed to functions by keys used inside. Like when yo

[2017-03-07 11:38] klesun opened #2 "Dyninno TODO list"
- Add autocomplete for DB selects using `upgrade_sql.php`.
- Add autocomplete from `ParamValidation` checks.
- ~~Add autocomplete for `Fp::map` and `Fp::filter`~~.
- Add inspections and GO TO for RPC/cron controller mappings.

[2017-04-18 10:05] klesun opened #3 "Add tests"
Apparently, my changes constantly break old functionality. Need tests to detect all broken places and fix them.

[2017-04-18 11:10] klesun opened #4 "Built in functions that should be handled manually"
~~array_pop()~~
~~array_shift()~~
~~array_reverse()~~
~~array_combine()~~
~~array_column()~~
...
i suppose all functions that start with `array_`

[2017-04-18 15:06] klesun opened #5 "Autocomplete from phpdoc breaks when multiple projects opened"
That happens because i do `getOpenProjects()[0]` - should use the project in which action happened.

[2017-04-18 22:41] klesun commented on #5
322d7ff64e9a00565d243f209bbe70a3447ce59a
hope that did the trick

[2017-04-19 00:33] klesun commented on #4
c8fc08993506733135e4d819351a736a6f01b492

[2017-04-19 10:57] klesun commented on #5
Sadly no. The problem is idea tries to take psi generated by parsing docs from cache. Should either force no caching somehow or ensure it is cached.

Notably, this happens only when multiple projects are open.

[code]

[2017-04-22 05:58] klesun commented on #5
Resolved in e7630bad49e4c01ea97abe4bad17af3b249d04f2

[2017-04-22 05:58] #5 closed

[2017-05-15 11:40] klesun commented on #3
https://github.com/klesun/phpstorm-deep-keys/commit/7a3dfe1e885d145f7b3d9f2fa7d77e83d5fd2bde

[2017-05-15 11:40] #3 closed

[2017-05-15 13:58] klesun opened #6 "Cornercase examples"
### Here are listed code examples where completion does not work even though it should.

[2017-05-17 14:27] klesun commented on #4
`sort()`
[see this](http://php.net/manual/en/ref.array.php)

[2017-05-24 20:14] klesun commented on #4
Oh, yeah, `sort()` sort of sorts array by reference, it does not return new array...

[2017-05-24 21:34] klesun opened #7 "Screenshots"
This is not actually an issue - just a hack to store screenshots outside repository.

[2017-05-24 21:34] #7 closed

[2017-05-24 21:36] klesun commented on #7
Screenshot of completion from docs.
![doc_completion_screenshot](https://cloud.githubusercontent.com/assets/5202330/26426602/0f72f554-40e2-11e7-8873-30b873310746.png)

[2017-05-24 22:25] klesun commented on #7
![describe_variable_screenshot](https://cloud.githubusercontent.com/assets/5202330/26427776/ee6d4e54-40e6-11e7-83d5-81a1687a0d7a.png)

[2017-05-24 23:04] klesun commented on #7
![got_to_definition_screenshot](https://cloud.githubusercontent.com/assets/5202330/26428215/284b1988-40e9-11e7-9a44-746145c5393f.png)

[2017-06-12 18:40] klesun commented on #4
`array_chunk`

[2017-06-12 18:42] klesun commented on #6
`FareQuoteSuperBbActionOutputAdapter.php`
a nice collection of cornercases - look around, you'll find a lot of keys plugin fails to provide completion for.

[2017-06-30 23:05] klesun commented on #4
5ad3db5a6413d8990d04f9657781c42b1eb99617

[2017-06-30 23:05] #4 closed

[2017-08-21 09:51] klesun commented on #6
`addFullDateToSabreSegment()` for some reason i don't original segment keys, even though 1d4eaad799f2e85bcf4a23141f08834258c0e0e6 (i believe) is on...

[2017-08-22 10:13] klesun commented on #6
`AmadeusBaggageAdapter::joinLocations()`, suspicious, flight segment type info is presetn in `$location` disappears in `$segments`

[2017-08-23 15:02] klesun commented on #6
[code]
If i call `$meth`, i get the completion, but if i wrap it in `closed`, i don't get it. Probably `use` is not handled correctly.

[2017-08-24 17:33] klesun opened #8 "Nice feature TODO list"
### Not Resolved Yet

Here are listed some small things that are relatively easy to implement and do not affect the whole behaviour much. Some stuff lays here for pretty long time, so if you are interested in some of these features, you can ping me, I'll start doing it. Otherwise I will implement the feature only when I need it in some of my php projects (whcih may happen... not very soon).

- Mak

[2017-08-29 14:36] klesun commented on #6
[code]

[2017-08-29 21:26] klesun commented on #2
- The `ParamValidation` would be usefull only in the direct controller function, which usually does not contain the actual code.

[2017-08-29 21:26] #2 closed

[2017-08-30 13:20] klesun opened #9 "Bugs"
- ~~Go To definition gives repeating entries:~~ c4f1d24cea9420bc202c957d9d3f62f363521025
![screenshot_2017-08-30_16-19-56](https://user-images.githubusercontent.com/5202330/29874346-27e9fac4-8d9f-11e7-8af9-51f6be82a28b.png)
~~Some visual changes would not hurt too:~~ 2a56555e115160ed537dd01316302b2a4a1c23b9
- ~~Limit the shown expression to 30 characters or something.~~
- ~~Truncate file path from

[2017-08-30 13:43] klesun commented on #9
`elseif` branches don't get completion from each others. This is correct, but when they are in a loop:
[code]

[2017-08-30 14:05] klesun commented on #9
Completion appears to not work when index is a variable:
![screenshot_2017-08-30_17-04-39](https://user-images.githubusercontent.com/5202330/29876447-76a00374-8da5-11e7-8707-d08536d11034.png)

[2017-08-30 14:06] klesun commented on #6
`elseif` branches don't get completion from each others. This is correct, but not when they are in a loop:
[code]
`$segments[$i]['']` should provide completion from `$location` keys

[2017-08-31 00:08] #9 closed

[2017-09-06 23:03] klesun commented on #1
### Resolved
- ~~Inference instance method references like this~~ ad3e4a07ba67fd046523c7e28532e621a77a75ed
[code]
~~(currently only static `[...::class, '...']` functions are inferenced).~~
~~By the way i suppose it won't hurt to also support `['self', 'doSomething']` and `'self::doSomething'`.~~

- ~~Resolve only requested key rather than full expression type - should make it geometrically faster

[2017-09-08 11:59] klesun opened #10 "Bugs"
There is still a place somewhere that caused unresolved key type result in "no key" rather than "any key"

![screenshot_2017-09-08_14-57-55](https://user-images.githubusercontent.com/5202330/30210763-7bd5b872-94a6-11e7-8b03-4c6a0facb0ac.png)
![screenshot_2017-09-08_14-58-49](https://user-images.githubusercontent.com/5202330/30210762-7bd43466-94a6-11e7-80fc-d2983ae40003.png)
Same here:
![sc](https:

[2017-09-10 20:33] klesun commented on #10
bcca1ce95b46c99f604ce5bf1a0a45321914c0a3

[2017-09-10 20:33] #10 closed

[2017-09-12 21:40] klesun commented on #7
![screenshot](https://user-images.githubusercontent.com/5202330/30349574-179c80e2-981c-11e7-9783-c7b9e6076c5c.png)

[2017-09-12 22:21] klesun commented on #8
### Resolved

[2017-09-13 01:40] klesun commented on #7
![screenshot2](https://user-images.githubusercontent.com/5202330/30355696-9d6aa368-983d-11e7-8b8a-6b4f5afcee0e.png)

[2017-09-13 17:13] klesun commented on #6
[code]
Something makes completion in the `array_column` here very long (~10 seconds), i suspect circular references.

[2017-09-13 18:43] klesun commented on #6
`$this->data['key'] = $this->data['key']`
this will cause infinite recursion - should do something about that

[2017-09-13 23:37] klesun opened #11 "Name options"
name | comment
--------|----------
deep-keys | nice and short, but too abstract
assoc-completion | half of that, half of that. i suppose it's not so good because phpstorm alrready has "assoc completion", just very brief
deep-assoc-completion | reflects the idea, but too long
assoc-typing | reflects the idea, but hard to google

[2017-09-19 16:32] klesun opened #12 "Bugs"
`RunTerminalCommandAction::execute()` Ctrl+Alt+Q-ing on `$gdsResult` causes memory overflow. Dare to guess that's because of a circullar reference.

Note, that simple completion works OK, so it is something that is only calculated on demand.

Not sure, but maybe it's related to `$this->agent` being assigned without being declared:
[code]
Just opening `ProcessApolloTerminalInputAction.php` causes i

[2017-09-19 19:55] klesun commented on #12
It would be nice to have some memory guards even when this specific issue is fixed. Like having some arbitary `private int maxExpressions = 20000;` per search.

[2017-09-19 20:35] klesun commented on #12
First of all, should put caching/interruption on resolving same class field psi. That causes an obvious circular reference:
[code]

[2017-09-19 21:17] klesun commented on #12
69ce8aef4eab98882522367d0f588f6d1429be49

[2017-09-19 21:17] #12 closed

[2017-09-19 21:22] klesun commented on #12
I'm not sure, what exactly line caused that, but stopping resolving class field on first circular reference resolved the problem.

[2017-09-20 00:30] klesun opened #13 "Bug: SabrePnr::$parsed completion stopped working"
Happened after fix 69ce8aef4eab98882522367d0f588f6d1429be49
![screenshot_2017-09-20_03-29-42](https://user-images.githubusercontent.com/5202330/30621481-03e12a9c-9db4-11e7-901a-c14f9513d882.png)

[2017-10-02 18:42] klesun-misc commented on #6
`CheckItineraryPricesAction::execute()` trying to Go To `'pricingList'` results in "Cannot find declaration". I guess it is because of a bug in logic with `elseif`-s

[2017-10-14 11:28] klesun-misc commented on #13
Rebased 3ded2a65be6fe9c1b46776c71953428dc05d1c87 - fix is there

[2017-10-14 11:28] #13 closed

[2017-10-14 11:29] klesun commented on #11
deep-assoc-completion seems ok to me

[2017-10-14 11:29] #11 closed

[2017-10-14 11:38] klesun commented on #6
### Resolved

[2017-10-17 18:03] klesun-misc opened #14 "A bug, Refactor: Move Namespace causes infinite loop when plugin is on"
Moving `Rbs\Process\Terminal` to `Rbs\GdsDirect` freezes IDE fore eternity with this window:

![screenshot_2017-10-17_18-01-44](https://user-images.githubusercontent.com/30558426/31680917-469c0b10-b365-11e7-9b8b-9c073d35a00a.png)

When i disable the plugin, freeze does not happen.

I should reproduce and find the cause. I suspect c8f96bca7e0e62f59b8f47aa1776cc98fb086b54 caused the problem.

Also I

[2017-11-01 17:20] klesun commented on #14
Not sure this is related to plugin, but maybe it is: trying to open `public_html` (a folder where lotta different project folders are located) causes idea to hang for more than a minute (didn't wait more - restarted it).

[2017-11-06 13:10] klesun commented on #6
`PtcPricing.php` - `$this->data['']` does not provide completion, even though it navigates correctly on ctrl+b

[2017-11-10 14:09] neuro159 opened #15 "TypeProvider contract violation"
Error while indexing Symfony\Component\DependencyInjection\ExpressionLanguageProvider.php
To reindex this file IDEA has to be restarted

java.lang.RuntimeException: TypeProvider contract violation? by class org.klesun.deep_assoc_completion.entry.AssocTypePvdr on $variables['container']

[2017-11-10 14:09] neuro159 commented on #15
300+reports and counting
please fix (DM me for help)
or plugin might be banned

[2017-11-14 18:05] klesun opened #16 "A bug: plugin causes idea to loose class references"
Some existing class usages (especially `Config.php`) occasionally are marked with red and the "Undefined Class ..." error. If you refactor the name of class and then rename it back, error disappears. The error also disappears if you disable `deep-assoc-completion` plugin and restart idea.

I guess this happens due to some infinite (or very long) recursion in assoc key type resolution or some null-

[2017-11-15 13:45] klesun commented on #15
Thank you for report. I temporarily disabled the feature:
https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/40553

I'll reenable it once I fix the issue.

[2017-11-15 14:03] klesun opened #17 "Docs: add .gif-s and video tutorial"
Kiril suggested using .gif instead of static images. I think this is a good idea.

Video would be nice too.

[2017-11-15 14:03] klesun commented on #16
I believe this is the https://github.com/klesun/deep-assoc-completion/issues/15

[2017-11-15 14:08] klesun commented on #14
This probably is also related to #15

[2017-11-26 18:55] klesun commented on #15
Fix: c4cc70551f4b7897126c3c8c6219e52aaaf20b1d

The problem was that Type Provider was called during Project Indexing. It uses functions like `PsiPolyVariantReference::multiResolve` that throw the Contract Violation exception if called during indexing.

The fix checks whether Indexing is in progress with `DumbService.isDumb()` and does not run the type resolution if it is.

[2017-11-26 18:55] #15 closed

[2017-11-26 18:56] klesun commented on #16
Yep, it was it: c4cc70551f4b7897126c3c8c6219e52aaaf20b1d

[2017-11-26 18:56] #16 closed

[2017-11-26 18:58] klesun commented on #14
I could not reproduce that - my IDEA Ultimate did not hang on that. Though i found that some exceptions were indeed thrown during _Refactor -> Move Namespace_, and c4cc70551f4b7897126c3c8c6219e52aaaf20b1d fixed them. I guess problem is solved.

[2017-11-26 18:58] #14 closed

[2017-11-27 08:23] CZechBoY opened #18 "Exception when searching file"
Hopefully this tracebacks helps
[code]

[2017-11-27 17:43] klesun commented on #18
yikes, thank you very much, I'll fix this asap

[2017-11-27 17:58] klesun commented on #18
Steps to reproduce: press Ctrl+Alt+Q or _Tools -> Show Deep Type_ when no files are opened.

[2017-11-27 18:12] klesun commented on #6
https://github.com/klesun/deep-assoc-completion/issues/18

[2017-11-27 18:18] #18 closed

[2017-11-27 18:18] klesun commented on #18
Added a null check - now if you try to press Ctrl+Alt+Q with no file, a "There is no file opened to describe a php variable" message will appear. I wonder, whether just doing nothing would be better in such case...

Fix:
c0db27a18cb3798965ef9ac88f7423359f2e2509
https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/40929

[2017-11-28 12:52] #6 closed

[2017-12-06 15:53] klesun opened #19 "Out of memory on attempt get completion in `ArrayUtil::getLast($calledCommands)['']`"
In `ProcessAmadeusTerminalInputAction::bookItinerary()`
Full code:
[code]

[2017-12-06 16:29] klesun commented on #19
[code]

[2017-12-06 16:31] klesun commented on #19
This happens because of `StubCmsApolloTerminal` which overrides `CmsApolloTerminal`'s `runSimpleCommand`. Should be easy to reproduce.

[2017-12-07 22:30] klesun opened #20 "Infer type from `compact()`"
See [compact()](http://php.net/manual/en/function.compact.php)

It takes string var names and creates associative array like here:

[code]

[2017-12-08 08:58] klesun commented on #1
Marking this as closed to hide from real issues.

[2017-12-08 08:58] #1 closed

[2017-12-08 08:58] klesun commented on #8
Marking this as closed to hide from real issues.

[2017-12-08 09:01] klesun commented on #19
Actually no, it happens due to infinite recursion in `InstanceCmdLog::logCommand()` -> `updateFromArea()`.

`$this->sessionData` is resolved through `updateFromArea()`, whereas `updateFromArea()` is resolved through `$this->sessionData`.

[2017-12-08 09:15] klesun commented on #19
Similar case:
[code]
The `$fcSegments = $ptcBlock['fareInfo']['fareConstruction']['segments'];` line causes Type Provider to hang and prompt you with "Memory overflow". If you close the dialog it appears again after several seconds.

[2017-12-08 09:42] klesun commented on #19
This also causes Memory Overflow, btw.
[code]

[2017-12-09 17:23] klesun commented on #19
a013becf913c55530ad0b6eb56ff30c9db5db57b

[2017-12-09 17:24] #19 closed

[2017-12-09 17:25] klesun commented on #17
Moved to the TODO list issue

[2017-12-09 17:25] #17 closed

[2017-12-10 00:57] klesun commented on #20
02c99f7a4e85ccbe1b7a862db28dad8784cfb5a9

[2017-12-10 00:57] #20 closed

[2017-12-13 17:18] klesun opened #21 "No null check in `DeepKeysGoToDecl.getGotoDeclarationTargets(DeepKeysGoToDecl.java:58)`"
Happened when I pasted file name: "ITicketDesignatorInfoProvider.php" to replace wrong class name.
[code]

[2017-12-14 15:01] klesun opened #22 "Again memory overflow $fareQuoteInfo['pricingList'][$i]['pricingBlockList'][$j]['']"
Should fix asap.

[2017-12-14 15:26] klesun commented on #22
Simpler steps to reproduce:
`PqParser::parse()` - press _Ctrl + Alt + Q_ on `$pqList`

Got stack trace:
[code]
I knew the day would come when this "TODO: make it immutable" will tell me "I told you!"

[2017-12-15 22:15] jaapio commented on #21
looks like I have the same error in a different situation. I'm not sure how this happened.

[code]

[2017-12-18 10:18] King2500 opened #23 "PhpDoc array key completion not working"
![image](https://user-images.githubusercontent.com/4896363/34101166-189cb538-e3e5-11e7-9dfe-6bd961c81cf6.png)

[code]

[2017-12-18 20:42] klesun commented on #23
Thanks for your report. I'll look into it as soon as possible.

[2017-12-18 21:38] klesun commented on #21
Thank you. Sorry you had to experience that. I fixed the issue.

f8fd4ae6b9d9f79d8ad13347cf6839614b0d34d2

Apparently, psi passed to `getGotoDeclarationTargets(PsiElement psi)` is nullable.

[2017-12-18 21:38] #21 closed

[2017-12-18 22:55] klesun commented on #23
Fix: a76d0eff1593e40e679b6814b35b60a0b9701a09
https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/41602

It was caused by recent change in phpstorm PSI structure: topmost level code block (namespace) was changed from `GroupStatementImpl` to `GroupStatementSimpleImpl` somewhere between `2017.1.4` and `2017.3.1`.

[2017-12-18 22:55] #23 closed

[2017-12-18 22:56] klesun commented on #21
Updated repository: https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/41602

[2017-12-19 13:18] King2500 opened #24 "Declaration in File and inline PhpDoc"
Should this work?

[code]

If it is not yet implemented, it would be nice :)

[2017-12-19 13:27] klesun commented on #24
Yeah, this is not currently implemented. But it should be easy, I'll look into that on the weekend.

[2017-12-19 16:49] King2500 commented on #24
Another example:
[code]

Definition of https://github.com/guzzle/guzzle 's `getDefaultOptions` method:
[code]

[2017-12-19 23:07] klesun commented on #22
I think this was completely caused by b5c4998d9f2a3739e865b08de04558acb7eb89d5. My theory is: since it treated _every_ function call as an `array_unshift`, we probably got random recursions here and there that could not be caught by the normal mechanism. I can't say for sure it was the case, but it does not reproduce anymore, so I think we can close our eyes and happily accept this theory.

[2017-12-19 23:07] #22 closed

[2017-12-24 01:59] klesun commented on #24
The first example, type inference from `@var` doc comment is now implemented:
https://github.com/klesun/deep-assoc-completion/commit/7c03bdd621d32e77be63ba86e33dc2142a92b73c
https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/41745

The second example, completion if keys in array declaration based on a `@var` doc, will need to wait a little longer.

[2018-01-02 02:51] klesun commented on #24
The second example is now implemented too.
https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/41932

[2018-01-02 02:52] #24 closed

[2018-01-07 18:23] klesun opened #25 "Low priority features"
Unlike #8, features listed here are relatively hard to implement and are not so needed. But forgetting them would not be good too, what if I ever get to an unhabitable island and have nothing to do?

 - While we're at it, usage completion from `Db::inst()->fetchAll('... WHERE id = :id', ['' => $id])` would be nice too.

- Currently Go To Declaration shows psi describing the contents of keys rather

[2018-01-08 11:12] King2500 opened #26 "Inconsistent use of type text in completion popup"
I just noticed the following:

![image](https://user-images.githubusercontent.com/4896363/34667977-a416ba78-f46b-11e7-8be8-e71150a14062.png)

For `bla` you display a static string value instead of its type. (For numbers it gets quoted which is also a small bug).

I suggest to **always show the type at the right column**. So it would be `string` in this case.

If you want to show some static values

[2018-01-08 16:39] #25 closed

[2018-01-08 16:54] klesun commented on #26
Thanks, sounds like a good idea. I'll implement this soon.
It will be a bit tricky with arrays, though, since I show them with keys in some specific format to save space: `{follow_redirects:, bla:}`. But I'll try to make them look consistent too.

[2018-01-09 17:59] King2500 opened #27 "Wrong completion for array key"
Following example code:
[code]

At caret `something` gets listed, but it's not defined for `$otherOptions` array but only in `$newOptions`.

Is that a bug from this plugin or PhpStorm itself?

[2018-01-09 21:18] klesun commented on #27
This bug is from PhpStorm itself. You can distinct these (usually incorrect) options by absence of type info and icon and font being thin (completions from the plugin are *bold*).

Built-In completion:
![image](https://user-images.githubusercontent.com/5202330/34742701-f6736c4e-f57e-11e7-82ae-7f832bbc9587.png)

Plugin completion:
![image](https://user-images.githubusercontent.com/5202330/34742835-

[2018-01-09 21:19] #27 closed

[2018-01-09 21:22] klesun commented on #7
![deep-assoc-select-star](https://user-images.githubusercontent.com/5202330/34743879-3e690ff0-f583-11e7-8dee-dd8c86b78917.png)

[2018-01-09 22:11] klesun commented on #26
c1e796c145bc5aeea79c7ddb013b821e99485207
https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/42097

![image](https://user-images.githubusercontent.com/5202330/34745771-81b93fea-f589-11e7-9560-0c3906ec2656.png)

[2018-01-09 22:11] #26 closed

[2018-01-10 09:24] King2500 commented on #27
Reported: https://youtrack.jetbrains.com/issue/WI-39506

[2018-01-10 19:04] klesun opened #28 "$this->getSessionData()[''] in ProcessApolloTerminalInputAction.php causes memory overflow"
It first shows key names OK, but then memoryoverflows on attempt to retrieve detailed type info

[2018-01-14 22:31] klesun commented on #28
The exception, by the way:
[code]

[2018-01-14 23:23] klesun commented on #28
Temporary workaround: 2b7e5e626e2024adbd748fbc908871d07f6dff78

The problem is: there are 7k duplicate types merged after circular reference resolution. Amount of types grows exponentially causing array being so big it results in Memory Overflow.

I'm not sure about the reasons of so many types. I want to think there is a bug somewhere. But it is possible that there is not a bug, just the price I

[2018-01-14 23:28] klesun commented on #28
Wait, wait, wait, just htough about something. DeepType is context-free, right? Since it only has _functions_ to get type from arguments, not result of these functions. That means, we can store the expression PSI and use it as unique key to get rid of duplicates, am I right?

[2018-01-18 19:47] King2500 opened #29 "Weird numeric array keys completion"
Sometimes i get weird numeric completion list when inside a string litery key:

[code]
2
1
0
and so on

[2018-01-20 02:07] klesun commented on #29
You probably are talking about something like this?
![image](https://user-images.githubusercontent.com/5202330/35178553-7a34c282-fd93-11e7-92d1-345bd2af1786.png)

I show numbers from `0` to `4` to show that this is array of values whose keys were not set explicitly. Often that means that this array is _list_ you would usually fill using `$arr[] = ...` or `$arr[$i] = ...`. But if your case is simil

[2018-01-20 02:18] klesun commented on #28
I think I start to understand the problem. The 7000 types should actually be duplicates of each other, but I re-create them in `VarRes::assignmentsToTypes()`, that makes each of them unique.

What should be done - get rid of damn `addAssignment()` - treat each `$arr['key1']['key2'] = ...` assignment as equivalent of `$arr = ['key1' => ['key2' => ...]]`. I believe that's how it's done in the python

[2018-01-21 16:20] King2500 commented on #29
I understand.

But when you select the suggested entry you'll get something like `$arr['0']`. Which is definitely not the same as `$arr[0]` and not wanted.
Maybe it's possible to replace the `'`. Have a look and try to implement an `InsertHandler` for your `LookupElement`s. So it "completes" to `$arr[0]`.

[2018-01-22 11:03] klesun commented on #29
Yes, I can try this too. I agree that it would make more sense, even though it will be harder to implement. I'll look into the `InsertHandler`.

But just for info, from the viewpoint of PHP `$arr['0']` and `$arr[0]` are doing same thing. since PHP implicitly converts and stores every integer numeric string key as integer:
[code]

[2018-01-24 21:47] klesun commented on #22
... It reproduces again, see #28
If you run tests, you get OutOfMemory exception on `providePqParserNotArrayUnshiftMemoryOverflow` caused by `356929` types on `$headersLine`

[2018-01-28 21:05] klesun commented on #28
The fix I decided to use is described in following text (hope it helps):

итак, идея: уникальность типа

- два типа идентичны если у них один PSI экспрешна (TODO: подумать что делать с типами без экспрешнов: array_map) и одинаковые FuncCtx
- два FuncCtx одинаковы если:
- 1. у них одинаковы PSI аргументов
- 2. у них одинаковы parent FuncCtx

правда возникает вопрос что считать типом:

if (rand() %

[2018-01-28 21:05] #28 closed

[2018-01-30 16:31] klesun opened #30 "Got null pointer exception on doc comment method completion"
Got it here:
[code]

[code]

[2018-01-30 23:16] klesun commented on #30
c7b062501e4fc6949375343d323315d57715a248

[2018-01-30 23:16] #30 closed

[2018-01-30 23:24] klesun commented on #29
Fixed.
https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/42701

[2018-01-30 23:24] #29 closed

[2018-01-31 17:17] klesun opened #31 "java.lang.StackOverflowError on MultiType.getBriefValueText(MultiType.java:145)"
I guess the new caching logic caused some type be a sub-element of itself...
It happened at some random point of time when I modified this code:
[code]
To be more exact, it happens when I type quotes in the `if (!$ignored['']) {`
The bug could also be caused by recent changes in `MiscRes` and `AssRes::collectKeyAssignment()`. Reverting them and trying to reproduce the issue could be a good start.

[2018-01-31 17:33] klesun commented on #31
Can be reproduced simpler:
[code]
Put caret inside `['']` and hit _Ctrl + Space_

[2018-01-31 17:47] klesun commented on #31
Another example in `AmadeusSavePnrAction`:
[code]

[2018-01-31 17:48] klesun commented on #31
Inside 'runCmd':
[code]

[2018-01-31 17:50] klesun commented on #31
Inside `setAmadeus()`:
[code]

[2018-02-01 00:50] klesun commented on #31
320eb7b274263ee76e36067d17ccd583816096b4

https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/42739

[2018-02-01 00:50] #31 closed

[2018-02-11 22:52] klesun opened #32 "Good Warcraft 3 maps"
- Pyramid escape
- Survaval chaos ?

[2018-02-11 22:52] #32 closed

[2018-02-12 09:07] dogzy123 commented on #32
* Denya escape
* Survival Denis
* Denya vs Rum
* Denya escape 2
* Work in McDonalds
* Kebab and Whiskey

[2018-03-10 14:00] klesun opened #33 "IDEA hangs for minutes when working with frameworks like Laravel"
Reported by a reliable source.

Should checkout some big projects and reproduce. Then fix. Maybe put a 1 second timeout in resolver.

[2018-03-13 11:12] bazzik commented on #33
Yeah -- had to disable this plugin as it's not usable in Laravel project. E.g. I have to wait like 15-20 seconds when typing each letter when typing view name in `return view('...');` .. which should not be affected as it's not array completion. CPU is hight then. With plugin disabled it all works just fine and I barely see CPU usage during code completion.

- Laravel 5.6;
- PHP 7.1;
- PhpStorm 20

[2018-03-28 21:34] klesun commented on #33
@bazzik, thanks for your detailed description. I managed to reproduce and fix the problem (I hope for the good).
https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/44358

The problem was that each time a file got changed the Type Provider from my plugin was triggered to resolve _each_ expression in the file. _Deep_ resolution of one expression takes 100+ milliseconds when some

[2018-03-28 21:34] #33 closed

[2018-03-29 15:36] klesun opened #34 "Optimize and enable BG Deep Type Provider"
See the conclusion of #33
I disabled the feature by default, but it is actually pretty usefull, so I usually keep it enabled in my projects. And thanks to that I got a stable steps to reproduce of reindexing hangs.

- Open file: `ApolloPnrFieldsOnDemand.php`
- Look at the `$this->dumpStorage->store($cmd, $dump)`
- If you set _BG Type Provider Timeout_ to 100 milliseconds and add few spaces somewhe

[2018-05-09 22:07] hailwood opened #35 "Plugin renames "Declaration" action to "viva Denis!""
https://github.com/klesun/deep-assoc-completion/blob/40911e6adbf494ecf60739df3c483b2aa306d6fb/src/org/klesun/deep_assoc_completion/completion_providers/EqStrValsPvdr.java#L115-L120

Mind removing this method please? You now know what it does ;)
![image 1](https://user-images.githubusercontent.com/709773/39842207-b90c2a7a-5439-11e8-9e21-bc617c1e5e06.png)

[2018-05-12 17:49] klesun commented on #35
Lol, sorry, my bad.

[2018-05-13 16:03] klesun commented on #35
https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/45779

[2018-05-13 16:03] #35 closed

[2018-05-23 12:34] klesun opened #36 "cannot share data context between Swing events; initial event count = 4758983; current event count = 4759298"
Got this when tried `To N-th Test` with a custom shortcut: _Ctrl + Alt + Shift + ;_ I defined in settings.
Actually, exception happens even when called from _Tools -> deep-assoc-completion -> To N-th Test_
And it looks like the action itself works ok, the caret moves where it should, just throws the exception afterwards.
[code]

[2018-05-23 14:39] dogzy123 commented on #36
Yes, fix it quickly please, impossible to work !!1

[2018-05-23 20:36] klesun commented on #36
55e6df0feed30ac1457b3e1753607139cb01c897

[2018-05-23 20:36] #36 closed

[2018-05-28 20:02] ms502040 opened #37 "Completion for objects"
Hi,
Is possible make something like that for completion objects? For example:
[code]

[2018-05-29 00:26] klesun commented on #37
Yes, sure.
https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/46276

![image](https://user-images.githubusercontent.com/5202330/40632451-f755d96a-62ef-11e8-8df0-f7d88f04e212.png)

[2018-05-29 00:26] #37 closed

[2018-06-24 18:12] klesun commented on #7
![image](https://user-images.githubusercontent.com/5202330/41822110-53be76b8-77f3-11e8-9115-fb007dac38c8.png)

[2018-06-24 21:30] klesun commented on #7
![image](https://user-images.githubusercontent.com/5202330/41823825-f82a5724-780e-11e8-9a8e-4eb37c89aa53.png)

[2018-06-26 11:37] klesun opened #38 "Exception gets thrown when you _Ctrl + B_ on a method."
Reported by reliable source.

Phpstorm 2016.2.2

`$this->saveToDb()`

Stack trace:
[code]

Earlier phpstorm versions have othere errors about not-existing methods in `PhpType`. Some backward compatibility should be implemented where possible.

[2018-06-26 19:57] klesun commented on #38
Reproduced on 2016.2.2, yay!

[2018-06-26 21:16] klesun commented on #38
On IDE startup you can also see this error:
[code]

[2018-06-26 23:53] klesun commented on #38
d394aec988965e7ab327ce7630096acb24649501

[2018-06-26 23:53] #38 closed

[2018-06-27 12:13] klesun opened #39 "map/filter/etc... call chain inference does not work due to caching"
Did you see this screenshot?
![image](https://user-images.githubusercontent.com/5202330/41972987-2842e32c-7a03-11e8-97e2-d2099988c427.png)
Well, it does not currently work. It seems that `$mapper($this->unwrap())` get's cached on the `->map(function($value3){retrun $value3 + ['d' => 4];})` and results in all calls to `->map` returning `['d' => 4]`. Should fix.

[2018-06-29 20:50] klesun opened #40 "Allow specifying `use`-d class without namespace in php doc"
[code]

Allowing usying `self` would be nice too btw...

[2018-07-13 18:20] klesun commented on #39
ae5a874aec90cd13a0024085e0a5420242c065c1

[2018-07-13 18:20] #39 closed

[2018-07-19 19:00] klesun opened #41 "Getting infinite recursion when resolving a recursive function with multiple calls to itself"
See https://github.com/klesun/deep-assoc-completion/commit/ae5a874aec90cd13a0024085e0a5420242c065c1

This line: `$correctCmdToTds = $retrievalResult[static::TICKETING_CORRECT_PRICING_IF_NEEDED]['cmdToTds'] ?? [];` stopped providing completion due to expression limit.

![image](https://user-images.githubusercontent.com/5202330/42964043-7625fbea-8b85-11e8-94bd-a93f9854d552.png)
Resolution of recursi

[2018-07-23 14:53] klesun commented on #41
Another 10000 expressions limit example:
![image](https://user-images.githubusercontent.com/5202330/43084435-2fbcd95c-8e88-11e8-9f8e-1f03dda58f4d.png)

[2018-07-24 12:42] klesun commented on #41
[code]
Recursion does not get interrupted:
[code]

[2018-07-24 16:05] klesun commented on #41
Another 10112 expressions limit example:
![image](https://user-images.githubusercontent.com/5202330/43151375-6009fed6-8f5b-11e8-9f29-13db5022189a.png)

[2018-07-24 21:52] klesun commented on #41
Upd.: actually, I found out that the 10000 issue when resolving recursive functions was present long before the caching changes. It was already there at 239d3dcb0ac45386990cdba15526ed2b36b15df1 Thu Mar 29 03:11:54 2018 +0300.

Should think of solution nevertheless, since I like recursive functions and would like to always have proper completion with them.

[2018-07-25 10:09] klesun commented on #41
Possible solutions:
- Make indexed key resolution on demand same way as named keys are done. This probably will fix this particular case, but I guess you'll still be able to reproduce the issue by adding another `elseif` that assigns value directly to `$sampleData`...
- During the recursion detection in `SearchCtx.java` instead of interrupting the moment same expression sequence repeated twice, in

[2018-07-30 13:33] klesun commented on #34
After few months of working with BG Type Provider disabled I think it is not so vital. _Ctrl+B_ and completion work whatsoever. This red line below method names is annoying of course, but dealing with it would require too much effort for just aesthetics.

So I'm marking this issue as closed. If someone else wants this functionality after all, ping me, I'll re-open it.

[2018-07-30 13:33] #34 closed

[2018-07-31 11:25] szkuwa opened #42 "Problem with inheritance when subclass overrides array"
I have a problem with completion when a subclass overrides parent static property, in my app it's from a trait in parent class but the bug is there even in the simplified version:

![deep-assoc-1](https://user-images.githubusercontent.com/6832734/43456183-c5339c24-94c2-11e8-85f3-a2f9f201463e.jpg)
As seen in the picture it gives completion from the parent class instead of the one from child class.

[2018-07-31 23:28] klesun commented on #42
Hi. Thanks for you report, Here is the fix:
https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/48357
https://github.com/klesun/deep-assoc-completion/commit/9fd3b79e28fa6dc90ae1658d99a360e2683d4fec

[2018-07-31 23:28] #42 closed

[2018-08-07 20:08] klesun commented on #41
https://github.com/klesun/deep-assoc-completion/commit/1f8bd030ef74a59648461080e34bb3bba8211ef0 did the trick

[2018-08-07 20:08] #41 closed

[2018-08-10 11:14] bazzik opened #43 "Slow completion"
[code]

Laravel 5.6 project.

`$user` is a standard Laravel Model, simple class: 11 simple methods (1-3 lines each), overriding 6 properties, has 2 constants, 14 virtual properties (via `@property` PHPDoc) and 2 `@mixin` to have Laravel's `*\Builder` methods... -- nothing special.

I have not coded actively in this project for a while (few small edit here and there) ... but with latest deep-assoc-

[2018-08-11 21:45] blacksmoke26 opened #44 "Error: Worker exited due to exception"
Found bug.

**stacktrace.txt**
[code]

[2018-08-12 22:58] klesun commented on #44
Thanks. Sorry for the trouble.

[2018-08-13 18:36] blacksmoke26 commented on #44
@klesun Thank you for your awesome work.

[2018-08-13 20:41] blacksmoke26 opened #45 "Bug: java.lang.StackOverflowError"
Here the details:
Version: `2018.08.13.001`

**stacktrace.txt**
[code]

[2018-08-14 08:58] klesun commented on #45
Reproduces with this code:
[code]

[2018-08-14 12:38] klesun commented on #45
https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/48887

[2018-08-14 12:38] #45 closed

[2018-08-15 00:32] blacksmoke26 commented on #45
Seems to me that this bug has ruined your life. Just kidding. Thanks for your hard work. :+1:

[2018-08-15 00:34] blacksmoke26 commented on #45
As you predicted:

![image](https://user-images.githubusercontent.com/425744/44125533-ad657258-a04c-11e8-8ddb-d994edff0053.png)

[2018-08-15 10:49] klesun commented on #45
Um, @blacksmoke26, you got the exception on the screenshot before updating plugin to current build (2018.08.14.002), right? You should not get it anymore once you update as I fixed the bug in https://github.com/klesun/deep-assoc-completion/commit/d31e11ebf57aa151fa49e22ee8ef69f1df76aa2b.

[2018-08-15 20:00] blacksmoke26 commented on #45
Thank you. Fixed now. :1st_place_medal:

[2018-08-16 11:57] bazzik commented on #43
Hi Artur,

Just got plugin auto updated to version **2018.08.16.001**.

That place that I have reported (and 2 others where it showed similar behaviour) is now fast as it would be without this plugin enabled. PhpStorm 2018.2.2 EAP build.

So right now it looks fixed to me (at very least on my code where I've tested it; not extensive testing though).

Many thanks for a quick fix. Much appreciated.

[2018-08-20 23:01] klesun commented on #43
Glad it helped somehow. It was really just a quickfix that only disabled plugin in property/method completion if there already are some suggestions. There are still some performance issues in Laravel projects I'll fix soon.

[2018-08-25 09:55] simPod opened #46 "Adds invalid completion suggestions"
When using latest version in IDEA, it adds those completion when selecting PHP class

![image](https://user-images.githubusercontent.com/327717/44617131-caa47300-a85d-11e8-878f-ca49886c554d.png)

Those should not be there

[2018-08-26 12:50] klesun commented on #46
Um, what exactly is incorrect? Could you provide more context, like screenshot of code that causes this completion? Is this `@return` php doc completion?

I can remove duplicate suggestions and put my plugin options to the bottom. I can also add an option in config to disable class completion in `@return` tag. Will this satisfy you?

[2018-08-26 13:30] simPod commented on #46
Yes, this is `@return` php doc completion, sorry.

I don't really fancy deep assoc suggestions being before IDE's suggestions. Those suggestions are also a bit incorrect or irelevant as I'm looking for actual class to be imported and not for static access `::` to something on that class.

That would certainly help!

[2018-08-28 00:08] klesun commented on #46
Thanks, you were right, it was wrong behavior. Plugin won't suggest class name completion on place of  `@return` type anymore.

https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/49272

[2018-08-28 00:08] #46 closed

[2018-09-13 11:50] klesun opened #47 "Use iterators instead of recreating array in the map/filter/etc..."
Should help with the #43

This should drastically increase performance, but raises some issues. I'll describe them here and list possible solutions.

[2018-09-13 11:50] #47 closed

[2018-09-13 12:01] klesun commented on #47
Apparently (paste here your laugh) iterators are disposable. This conflicts with the `MultiType` class which has methods like `hasNumericKeys`, `getIdeaType`, `getKeyNames`, etc... and they all have to iterate through the types. And after we iterate once, the second time we get an exception.

I believe the `MultiType` itself should be eliminated. Everything should return `DeepType` iterator and if

[2018-09-13 12:04] klesun commented on #47
Rest things in the TODO list:
- Change nested types (keys, numeric index elements, etc...) in the `DeepType` class to iterators.
- Get rid of `L` class usages where it can be replaced with an iterator.
- Get rid of `It::arr()` and `L::itr()` usages.

[2018-09-17 15:22] klesun commented on #47
There is a bug in master:
[code]
Attempts to get completion on `$seg['']` result in the exception below. Looks like a `FuncCtx` somehow became `parent` of itself. I guess it could be related to the:
[code]
in the `FieldRes.java`
[code]

[2018-09-17 16:08] klesun commented on #47
Another exception below, happens here:
[code]
[code]

[2018-09-17 17:29] klesun commented on #47
Another one:
[code]
[code]

[2018-09-18 12:37] klesun commented on #47
Exceptions above are resolved

[2018-09-18 12:38] klesun commented on #47
New problem:
[code]
[code]

[2018-09-18 16:54] klesun commented on #47
Another one:
[code]
[code]

[2018-09-18 22:01] klesun commented on #47
exceptions above fixed: https://github.com/klesun/deep-assoc-completion/commit/44179357db2a332538ba2c8c7df828ff027bfb3c

[2018-09-19 12:36] klesun commented on #47
Weird completion:
![image](https://user-images.githubusercontent.com/5202330/45753484-9035b800-bc08-11e8-9b99-d24fd63225d3.png)

[2018-09-20 14:39] klesun commented on #47
![image](https://user-images.githubusercontent.com/5202330/45825826-a617ab80-bce2-11e8-814e-ea821d781702.png)
Insufficient keys returned from call to a function that does `Result::flatMap`. Possibly iterator gets disposed somewhere in `MethCallRes`, though I don't get any exception in IDE.

[2018-09-29 19:12] dogzy123 opened #48 "php bug report"
java.lang.StackOverflowError
	at org.klesun.deep_assoc_completion.TiEsheMozheshUspetjNaAvtobus
	at org.klesun.lang.DenisBudetVCiv5
	at org.klesun.deep_assoc_completion.EmuTutSkuchno
	at org.klesun.deep_assoc_completion.PriezhaiteKollega
	at org.klesun.lang.Opt.uni(Opt.java:137)
	at org.klesun.deep_assoc_completion.helpers.FuncCtx.hashCode(FuncCtx.java:215)

[2018-09-29 23:40] klesun commented on #48
Там внатуре экскепшн падает в `FuncCtx::hashCode()`?

[2018-09-30 00:08] dogzy123 commented on #48
at org.klesun.deep_assoc_completion.TiEsheMozheshUspetjNaAvtobus
at org.klesun.lang.DenisBudetVCiv5
at org.klesun.deep_assoc_completion.EmuTutSkuchno
at org.klesun.deep_assoc_completion.PriezhaiteKollega

[2018-09-30 09:08] klesun commented on #48
Sorry, I can't find the `TiEsheMozheshUspetjNaAvtobus.java`, can't reproduce.

(приехал на велике, я в соседней комнате)

[2018-09-30 09:08] #48 closed

[2018-10-02 21:48] mekras opened #49 "NoClassDefFoundError: org/fest/util/Sets"
deep-assoc-completion v2018.09.28.001

PhpStorm 2018.3 EAP
Build #PS-183.2940.15, built on September 26, 2018
PhpStorm EAP User
Expiration date: October 26, 2018
JRE: 1.8.0_152-release-1293-b14 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Linux 4.12.14-lp150.12.16-default
[code]

[2018-10-03 10:31] Spurlos commented on #49
Same issue after plugin update.

PhpStorm 2018.2.4
Build #PS-182.4505.42, built on September 27, 2018
JRE: 1.8.0_152-release-1248-b8 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Linux 4.15.0-36-generic

[code]

[2018-10-03 13:27] klesun commented on #49
Sorry about that.Will fix ASAP

[2018-10-03 13:38] klesun commented on #49
https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/50613

[2018-10-03 13:38] #49 closed

[2018-10-03 13:54] klesun-misc commented on #47
asd asd

[2018-10-03 13:55] klesun-misc commented on #47
dsa dsa

[2018-10-03 13:56] klesun-misc commented on #47
sdsad asd

[2018-10-03 13:57] klesun-misc commented on #47
asdsa dasd

[2018-10-03 13:59] klesun-misc commented on #47
asds aaaad

[2018-10-03 14:03] klesun-misc commented on #47
dsf ds ffds

[2018-10-03 14:15] klesun-misc commented on #47
qwe

[2018-10-04 01:05] klesun commented on #47
https://github.com/klesun/deep-assoc-completion/commit/0ad770ce022f01e72212301dd0fad19369f38666 brings the feature, each option is now displayed the moment it was calculated instead of waiting for complete resolution.

But it hangs for some reason in the Laravel project on this:
[code]
Possibly because one of places where `arr()` is called gets triggered. In `array_combine` or `array_flip` for exa

[2018-10-17 18:57] klesun-misc commented on #47
Looks like used key completion stopped working after recent changes...

[2018-10-18 12:22] jorgecc opened #50 "Enumeration"
Hi there:

I want to know if it's possible to add a feature to simulate enumeration.  I tried searching about it and I don't find it. However, I found your library that it's really cool but it's not about enumeration.

For example, something like that

[code]

[2018-10-18 12:35] klesun commented on #50
Yet another option:
![image](https://user-images.githubusercontent.com/5202330/47154614-51138900-d2d2-11e8-95a8-1f5fbe217610.png)

[2018-10-18 12:57] jorgecc commented on #50
Thanks, however, it is not visible when you call the function

weekday(''):
![rent](https://user-images.githubusercontent.com/9570242/47155881-2e767580-d2bc-11e8-8f39-cb2c5c1cc7d2.jpg)

[2018-10-18 13:01] klesun commented on #50
Oh, yeah, that's actually a feature I was going to implement one day:
https://github.com/klesun/deep-assoc-completion/issues/8

I guess I'll raise it's priority.

[2018-10-18 13:02] klesun commented on #50
I'm bad with estimates, but I'll try to implement this by the monday.

[2018-10-18 13:40] jorgecc commented on #50
Thanks.

[2018-10-18 21:33] klesun commented on #50
Very basic support available in beta release:
https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/51243
![image](https://user-images.githubusercontent.com/5202330/47184606-a6738880-d31a-11e8-94d0-5db880a6a8b3.png)

[2018-10-22 09:51] King2500 commented on #50
What is this `[$i]` meaning at the end of the list?
Looks a little "special" to me.

[2018-10-23 10:02] klesun commented on #50
An undefined variable =-D. A tricky way to tell plugin that `$field` can be _any_ of the values in the array. Plugin treats unresolved variables/functions as _anything_, and when you take an _anything_ index from array, you get _any value in the array_. You can basically write any valid php expression instead of `$i`, for example `rand()` or `-100`.

[2018-10-28 11:24] ooghry opened #51 "auto complete associative array"
Hi there
I try this code with PhpStorm 2018.2.5 Build #PS-182.4892.16 with your plugin Version: 2018.10.25.005
[code]
In auto complete I only get the first key.

[2018-10-28 17:12] klesun commented on #51
Hi. The problem is that plugin expects a valid php expression after the `=` in the doc: example values, not their type:
![image](https://user-images.githubusercontent.com/5202330/47619144-24d2e600-dae4-11e8-956e-82dce2dcc22a.png)
For your php doc to work with the plugin, you should re-arrange it like this:
[code]
![image](https://user-images.githubusercontent.com/5202330/47619248-500a0500-dae5-11e

[2018-10-28 19:30] ooghry commented on #51
🤦🏻‍♂
Thank you

[2018-10-28 19:30] #51 closed

[2018-10-29 21:42] ooghry opened #52 "initialize variable by $GLOBALS"
Hi there
Assume I have a class like this.
[code]
Is that your plugin's job provides variable in autocomplete or PHPStorm?
Any comment would be appreciated

[2018-10-29 23:20] klesun commented on #52
Hi. It's my plugin. PHPStorm provides to me the places in project where variable named `$GLOBALS` is referenced and then I calculate it's content with the plugin as if it was a normal variable.

[2018-10-30 00:19] klesun commented on #52
If, by chance, you were actually asking whether `$key` var is suggested by my plugin or phpstorm, then it's phpstorm. My plugin currently only suggests string literal key names, methods and properties - the stuff phpstorm does not resolve itself.

[2018-10-30 07:41] crayssnlabs opened #53 "Use default parameter declaration"
Hello there,

it will be very helpful the default parameter will used as documentation to autocomplete inside the function and when it will called.

![default](https://user-images.githubusercontent.com/35770897/47703121-7cc23780-dc1f-11e8-9f1d-359e0d6299ce.PNG)

![default_2](https://user-images.githubusercontent.com/35770897/47703128-83e94580-dc1f-11e8-8936-b08e6b47e924.PNG)

You know what i mean?

[2018-10-30 22:34] klesun commented on #53
Done - https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/51591
![image](https://user-images.githubusercontent.com/5202330/47754730-8cd02a80-dca4-11e8-9596-9396e4de9a83.png)
![image](https://user-images.githubusercontent.com/5202330/47754809-c5700400-dca4-11e8-8161-3d3b16a60618.png)

[2018-10-30 22:34] #53 closed

[2018-10-31 05:40] crayssnlabs commented on #53
Perfect! It works as expected.

[2018-10-31 17:29] klesun commented on #47
I guess this can be counted for done. I don't work in RBS anymore so I can't test complex nested array constructions anymore.

[2018-11-06 16:18] klesun commented on #52
@ooghry, did I answer your question? Do you want some improvements on how `$GLOBALS` completion gets inferred like remembering what values got assigned to it in the `foreach`?
Any comment would be appreciated =-D.

[2018-11-06 17:57] ooghry commented on #52
Thank you for your reply
Now, for some reason, I do not know the whole auto complete has been failed.Certainly your plugin is not the problem, but I can not test it.
Thank you again and if you would like, you can close this issue.

[2018-11-06 17:58] klesun commented on #52
thanks

[2018-11-06 18:10] klesun commented on #52
Um, just to be safe, are you sure my plugin is not the problem? It _does_ interrupt completion from other sources occasionally when it gets in infinite recursion when there are bugs. Do you still get no completion when you disable my plugin in _Settings -> Plugins -> deep-assoc-completion_ and restart phpstorm?

[2018-11-06 21:37] ooghry commented on #52
Currently my problem is not about GLOBALS,completion failed totally
- notice to error between `return time`
- `pubf` is available but `pubsf` does not exist
-  `forek` does not work correctly
- and some many other break

![completion](https://user-images.githubusercontent.com/200244/48095092-13e34c80-e229-11e8-8216-e1a411ca81b0.gif)

[2018-11-06 22:11] ooghry commented on #52
I disable almost all plugins(except yours) and try this code but `myVar` does not show:
[code]
meantime I don't have that problem you stated.

[2018-11-08 22:01] klesun commented on #7
![img_20180804_150618](https://user-images.githubusercontent.com/5202330/48230110-951a1b00-e3b2-11e8-9ec5-6607d7450833.jpg)

[2018-11-11 13:09] klesun commented on #52
Wow, something is really broken in your phpstorm. `forek` and class name completion problems are very unlikely to be caused by my plugin as you said. And other problems do not hapen in my installation as well:
![bandicam20181111140918461](https://user-images.githubusercontent.com/5202330/48312765-5e175580-e5bc-11e8-8aa5-d3aacafe1e1e.gif)
So I'm afraid I can't help you here in any way except sugges

[2018-11-11 23:11] ooghry commented on #52
Yes, it would be nice if it is possible to completion work on this code:
[code]
should I open new issue or ...?

[2018-11-12 00:40] klesun commented on #52
I'll implement this in context of this issue.

[2018-11-12 02:04] klesun commented on #52
Added very basic completion for a start.
![image](https://user-images.githubusercontent.com/5202330/48322378-f13da300-e62f-11e8-95ec-0efdf8aad055.png)
Currently infers only keys declared in the script top-level scope. Supporting `$GLOBALS` var declaration in a function will require some time.

[2018-11-12 17:11] ooghry opened #54 "NumberFormatException"
Hi there
Today I got this exception twice.
[code]

[code]

[2018-11-12 17:11] klesun commented on #54
oh, thanks, I'll look what's wrong now

[2018-11-12 17:25] #54 closed, assigned to nobody

[2018-11-13 00:38] klesun commented on #52
ting `$GLOBALS` var declaration in a function:
https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/51988

![image](https://user-images.githubusercontent.com/5202330/48383123-29ef8200-e6ed-11e8-97cc-aa04cc6803ef.png)

[2018-11-13 00:38] #52 closed

[2018-11-13 12:04] klesun commented on #52
You may want to hit _Ctrl + Space_ if options don't show on their own (there is a resolution depth limit for implicit auto-complete popup).

[2018-11-15 14:14] klesun commented on #37
I'd like to note that it is now possible to specify object properties like this as well:
![image](https://user-images.githubusercontent.com/5202330/48558230-bada7f00-e8e0-11e8-9b10-36074415b189.png)

Since casting to object transforms array keys to `\stdClass` properties. This way you can specify indexed arrays in the structure.

[2018-11-21 09:35] zored opened #55 "PhpDoc return type"
Hi! Thank you for this great plugin. ❤️

It would be great to specify `@return` [same as `@param`](http://midiana.lv/entry/phpstorm-deep-keys/#completionfromphpdoc):
[code]

There was also PSR-5 that suggested `ArrayObject<int, string>`, but now I [don't see traces](https://github.com/php-fig/fig-standards/blob/master/proposed/phpdoc.md#arrays) of this specification.

[2018-11-21 11:18] klesun commented on #55
Hi. It is already possible to specify `@return` keys like this:
[code]
![image](https://user-images.githubusercontent.com/5202330/48837795-3c695b80-ed7e-11e8-94bd-0afc6e690713.png)

But I'll add the `=` format too nevertheless.

I can't find traces of `ArrayObject<...>` specification neither.

[2018-11-21 21:48] klesun commented on #7
![image](https://user-images.githubusercontent.com/5202330/48870020-e6310280-ede7-11e8-9a70-33b64fdcc574.png)

[2018-11-21 22:02] klesun commented on #7
![image](https://user-images.githubusercontent.com/5202330/48870527-e205e480-ede9-11e8-824c-750088b76fa4.png)

[2018-11-21 22:04] klesun commented on #7
![image](https://user-images.githubusercontent.com/5202330/48870610-2b563400-edea-11e8-93c1-c8bbd973726b.png)

[2018-11-21 22:11] klesun commented on #7
![image](https://user-images.githubusercontent.com/5202330/48870882-280f7800-edeb-11e8-9a72-fe66b1af1fd5.png)

[2018-11-21 22:14] klesun commented on #7
![image](https://user-images.githubusercontent.com/5202330/48870975-88061e80-edeb-11e8-9501-c525a2a92e6a.png)

[2018-11-21 22:29] klesun commented on #7
![image](https://user-images.githubusercontent.com/5202330/48871517-bd137080-eded-11e8-9208-3725d81b960a.png)

[2018-11-21 22:41] klesun commented on #55
Added support for `@return aray = [...]` format as well.
https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion
![image](https://user-images.githubusercontent.com/5202330/48871911-598a4280-edef-11e8-9064-974950d24507.png)

[2018-11-21 22:41] #55 closed

[2018-11-22 08:32] zored commented on #55
Wow, thank you! 😄

[2018-12-05 14:57] ms502040 commented on #37
Hi,
you doing awesome work, thanks.
what about class magic method? :wink:
[code]

`$object->getData->` working good  :smile:
would be nice if  `$object->` give result as with `getData` method

[2018-12-05 16:44] klesun opened #56 "Provide completion from `_get()` magic method"
Requested by @ms502040
[code]

[2018-12-05 16:47] klesun commented on #37
I guess I can add the completion from magic method.
I filed a new issue for this feature: https://github.com/klesun/deep-assoc-completion/issues/56

[2018-12-07 00:58] klesun commented on #56
Add basic support in [2018.12.07.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/52945)
![image](https://user-images.githubusercontent.com/5202330/49620937-c85cc380-f9cb-11e8-994c-13b036985c55.png)
Dynamic property name completion on the way...

[2018-12-10 19:47] OndrejVasicek opened #57 "Load phpdoc array from a file"
Hi klesun and thank you for your great plugin.
I'd like to ask - is it possible to have array definition in a file? I'm trying something like this in my phpdoc, but it doesn't work.

[code]
Array configurations in file are quite common. It seems strange to me to create a Class only to return this configuration array.

[2018-12-10 19:55] klesun commented on #57
Hi.
Does `params.php` content looks something like this? (with `return` in global scope)
[code]
If it does, sure, I'll add that... well even if it does not I guess I will.
http://php.net/manual/en/function.return.php

Though if your `params.php` does not have a global `return`, but just defines global variables, it will require some thinking on the right way to pass this data to plugin...

[2018-12-10 20:06] OndrejVasicek commented on #57
Yes, exactly like this. With the return. So do I understand that this function is not implemented yet?
Do you have any idea where it could be finished?

[2018-12-10 20:08] klesun commented on #57
Yeah, completion from a script `return` is currently not implemented. Will be done in a an hour I guess.

[2018-12-10 20:10] OndrejVasicek commented on #57
Jesus ... this is beyond any expectations. Thank you a lot klesun. I'll wait for it and will use it in my project right away.

[2018-12-10 21:19] klesun commented on #57
https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/53040

![image](https://user-images.githubusercontent.com/5202330/49762308-4b7a6400-fcc1-11e8-92f5-b8ba4431c78b.png)

[2018-12-10 21:19] #57 closed

[2018-12-11 00:00] klesun commented on #56
Dynamic property name completion also done:
https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion
![image](https://user-images.githubusercontent.com/5202330/49767759-b2077e00-fcd1-11e8-8a64-82bb7f63fe94.png)

[2018-12-11 00:00] #56 closed

[2018-12-11 03:05] ms502040 commented on #56
Super, thanks :smile:

[2018-12-11 22:59] hailwood opened #58 "Please document plugin options"
Hey @klesun,

Any chance you could document what the various settings do under Languages & Frameworks > PHP > deep-assoc-completion?
![image](https://user-images.githubusercontent.com/709773/49835841-5b9b5c00-fe05-11e8-858a-1db55cd52763.png)

[2018-12-12 01:44] klesun commented on #58
I guess I will... They exist more for debuging purposes though, since default values are _supposedly_ optimal for any project. And half of them aren't doing anything anymore. And there is a type hint which appears when you hover on a setting label...

In short:
- First three settings can be ignored, `Background Deep Type Provider` relates to the disabled by default mechanism that tells IDEA what t

[2018-12-12 02:32] hailwood commented on #58
Thanks @klesun,
I'm just a curious sole was was wondering what they were, no problems with the plugin!
Also, thanks for the tip regarding the tooltips, had no idea they were there!

[2018-12-12 02:32] #58 closed

[2018-12-18 21:31] klesun commented on #43
Well... my "soon" took longer than I hoped, but the issue should be gone by now.
https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/53346

I made various optimizations over past months, most important one was that now each completion option is suggested the moment it is found (in past you had to wait till _all_ options are resolved before popup appears).

[2018-12-18 21:31] #43 closed

[2018-12-23 16:39] ooghry opened #59 "org.klesun.deep_assoc_completion.go_to_decl_providers.MainGoToDecl@a3784e2"
Hi
PhpStorm 2018.2.6
Build #PS-182.5107.45, built on November 27, 2018
JRE: 1.8.0_152-release-1248-b22 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Windows 8.1 6.3
I got this error.

[code]

[2018-12-23 16:53] klesun commented on #59
Oh, thank you very much. I'll take a look in few hours.

[2018-12-23 17:15] klesun commented on #59
Probably caused by this: https://github.com/JetBrains/intellij-community/commit/14f169e376ed96f7253d92ff13a30f6bf577f891

[2018-12-23 19:08] klesun commented on #59
https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/53511

[2018-12-23 19:08] #59 closed

[2018-12-23 19:11] klesun commented on #59
Fixed.
Was broken for phpstorm versions before 183.5153.4 due to recent refactoring:
https://github.com/klesun/deep-assoc-completion/commit/2ef565301dd2fee1db83bbedbd5e13ad70fb02ba
Now it should work for any version.

[2018-12-26 15:56] Agent-J opened #60 "Doesn't autocomplete objects"
Great plugin,
but unfortunately v2018.12.23.001 doesn't autocomplete objects.
PhpStorm v2018.3.2 Build #PS-183.4886.46 (the same was with v2018.1)

![alt text](https://i.imgur.com/juHHYOp.png)

Example:
[code]
The same with other notatin:
[code]

Related to issue #37

[2018-12-26 17:13] klesun commented on #60
Oh, thanks, I'll take a look now.

[2018-12-26 17:16] klesun commented on #60
khem, you are using `@var` instead of `@param` =-D

[2018-12-26 17:18] klesun commented on #60
oh, in parent issue reporter also used `@var`... in any case, completion expects `@param` doc tag name for an argument.

I'll take a look if `@var` is a valid tag name. If it is, I'll add support for it as well.

[2018-12-26 17:20] klesun commented on #60
sorry, nevermind my deleted commetns

[2018-12-26 18:15] klesun commented on #60
Was broken after 0b97b6a6e40818fa157ce4dbcf6ade0c59a5d283
Fixed in [2018.12.26.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/53569)
![image](https://user-images.githubusercontent.com/5202330/50453463-5da70400-0949-11e9-8240-44a0ca97cd19.png)

[2018-12-26 18:15] #60 closed

[2018-12-26 18:32] Agent-J commented on #60
Wow! Impressive support and bugfix speed!
Thanks a lot

However v2018.12.26.001 still lacks nested classes support with alternative notation

![default](https://user-images.githubusercontent.com/941804/50453959-89c88200-0955-11e9-82bc-66c86a8877a7.png)

[2018-12-26 20:44] klesun commented on #7
![unspecified](https://user-images.githubusercontent.com/5202330/50456817-c26d5900-095f-11e9-8ee7-69c92efc82ba.png)

[2018-12-27 10:35] Agent-J commented on #60
In fact I do not use alternate notation, but decided to point out, maybe someone needs =)
Thanks for support

[2018-12-28 08:13] xarrek opened #61 "PluginException"
Hello,
I get this error on start.

PhpStorm 2018.3.2
Build #PS-183.4886.46, built on December 19, 2018
JRE: 1.8.0_152-release-1343-b26 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Windows 10 10.0

[code]

[2018-12-28 10:06] klesun commented on #61
Oh, thanks, sorry. Looks like you don't have a Javascript plugin. Did not consider one could have PHP plugin without Javascript... I'll fix this in a hour or so.

[2018-12-28 10:11] xarrek commented on #61
I have "JavaScript Support" plugin. What exactly is the plugin about?

[2018-12-28 10:20] klesun commented on #61
I'm not certain how this happens, but `JavascriptLanguage` is a class defined in the `Javascript` plugin, and since there is a `ClassNotFoundException` in stack trace I concluded that `Javascript` plugin is disabled or something. Though I'm not sure if it is actually disablable in phpstorm...

Nevertheless, `JavascriptLanguage` is used in just one specific place for syntax highlighting in a popup,

[2018-12-28 10:35] klesun commented on #61
This update should fix your issue: [2018.12.28.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/53620)

[2018-12-28 10:35] #61 closed

[2019-01-11 00:14] klesun opened #62 "java.lang.StackOverflowError on array_map"
Happens when I try to get completion in:
[code]
With `ApolloPnrFieldsOnDemand::getReservation()` having all lines except last commented out.
[code]
Looks like there is an infinite circular reference between `k.keyType.getTypes.get()` in `FuncCallRes::array_map()` and `mtg.get()` in `KeyType::mt()`.

[2019-01-19 12:00] klesun commented on #62
Reproduces only on one of my machines (and not on the two others) for some reason...

[2019-01-24 19:20] klesun commented on #7
![image](https://user-images.githubusercontent.com/5202330/51703012-293c6b80-200d-11e9-9479-e51c5f7bbfaf.png)

[2019-01-26 00:47] klesun commented on #62
This is probably unrelated, but if you define arg type wih the name of this exact function in phpdoc, and hit _Ctrl+B_ twice, IDEA hangs. This is very bad.

[2019-01-26 22:10] klesun opened #63 "The phpdoc array keys format supported by the plugin."
The [README](https://github.com/klesun/deep-assoc-completion/blob/master/README.md) briefly mentions an ability to specify array keys in a doc. I'll describe it a bit more detailed here...

So, basically, in the `@param`, `@var`, `@property`, `@method` and `@return` phpdoc tags, after the variable name, you can type an `=` followed by any valid php expression - it will be parsed by the plugin and

[2019-01-26 22:38] klesun-misc commented on #63
test

[2019-01-27 02:00] #62 closed

[2019-01-27 02:32] klesun commented on #8
@klesun-productions

[2019-02-13 02:33] klesun commented on #25
## Resolved

[2019-02-21 10:10] berkayunal commented on #50
Hi @klesun

How can we autocomplete an option with the enums?

For example:

`FileHelper::directories(APPPATH, ["sort_by"=>"modified_time");`

![sc](https://user-images.githubusercontent.com/390230/53160842-ccb37880-35d9-11e9-863a-4d6d8c9033d7.png)

Thanks for you help and this great plugin!

[2019-02-21 12:04] klesun commented on #50
Hi @berkayunal
I did not implement the completion of enum in an _array key_ before I read your comment.
Just posted an update: [2019.02.21.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/58573)
Now you should get completion here:
![image](https://user-images.githubusercontent.com/5202330/53167685-99b8b700-35d0-11e9-9219-7df694444f39.png)
And here:
![image](https://user-

[2019-02-21 12:47] berkayunal commented on #50
Hi @klesun,

Rockin! Thanks for the update 👍

[2019-02-25 08:20] klesun opened #64 "Null pointer exception on attempt to open settings"
![image](https://user-images.githubusercontent.com/5202330/53323461-236ccb00-38d6-11e9-93db-43b604bc74e6.png)

![image](https://user-images.githubusercontent.com/5202330/53323490-2ebff680-38d6-11e9-8a90-93d04c195af4.png)

[code]

[2019-02-26 00:50] vladyslavstartsev opened #65 "Develop with releases"
Hi! Thank you for your work! It's an awesome plugin.

Can you develop it with releases - because it asks (me) for update for every commit you make.

[2019-02-26 09:24] klesun commented on #65
Hi.
Sorry about that, I did abuse productions for unimportant stuff few times lately.
I'll try to make it no more than one release per week from now on, unless there is a nasty bug or someone explicitly asks for some changes, will this be fine with you?

It's a bit hardcore, but you probably could also add my plugin to ignored updates list in _Appearance & Behavior -> System Settings -> Updates ->

[2019-02-27 10:28] vladyslavstartsev commented on #65
For me yes,

Thank you!

[2019-02-27 11:20] klesun commented on #65
Cool, I'll do my best not to spam anymore.

[2019-02-27 11:20] #65 closed

[2019-02-28 15:13] bravoman commented on #63
Very nice feature!

Does this also allow for specification of a ('virtual') `@method` phpdoc tag it's return value? If so, what would be the syntax for this?

[2019-02-28 15:19] bravoman commented on #63
Also I'm curious... If I could add non-static PHP code like this, would that in turn also be type inferred?

Or would that just be asking for too much? 😉

[2019-02-28 18:46] klesun commented on #63
Hi.
`@method` is currently not supported. I can add it, though, I guess it won't be hard.
I guess some Scala-ish syntax like that will look good:
[code]
I'll write back when this is done (in few days maybe).

______________________________________

By non-static code you mean something like this?
[code]
If so, there is no such feature yet either. Though I guess it could be added as well, if this i

[2019-02-28 20:48] klesun commented on #63
https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/58898 - added support for `@method` doc return type.
![image](https://user-images.githubusercontent.com/5202330/53595467-44167880-3b95-11e9-8d4d-8125e406c0cf.png)

@bravoman, please, confirm that I understood you correctly about the _non-static php code_ before I start implementing it.

[2019-03-07 11:08] bravoman commented on #63
Sweet! Yes, that is what I meant!

With regards to the non-static code I meant something like this:

[code]

😅

[2019-03-07 15:47] bravoman commented on #63
I see this even works (assuming database is setup correctly in PHPStorm):
[code]

You're my new hero ... 🏆 😉

[2019-03-07 22:10] klesun commented on #63
Glad you liked it.
I'll make sure references like `self::getById()` and `$this->someField` will work as well in a while.

[2019-03-08 15:04] King2500 opened #66 "Constants appear as static class variables"
I don't understand this:

![image](https://user-images.githubusercontent.com/4896363/54036375-c7e6eb00-41bb-11e9-8ff9-fcc4e87796a5.png)

These variables do not exist. Why are they listed here?

[2019-03-08 21:39] klesun commented on #66
Oh, sorry, my bad. Apparently I mistakenly treat constants as properties.Will fix soon.

[2019-03-08 22:19] klesun commented on #66
Hm, though I could not reproduce this... Could it be the issue fixed in https://github.com/klesun/deep-assoc-completion/commit/56ab8c5fedb70b76fde43c5036982233c958883f? It was release [2019.02.16.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/58374), is your version of the plugin below that maybe?

[2019-03-08 22:37] klesun commented on #66
Sorry, never mind, it does reproduce on latest release after all...

[2019-03-09 12:36] klesun commented on #66
Thank you for the report. Fixed in [2019.03.09.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/59242)

[2019-03-09 12:36] #66 closed

[2019-03-09 12:38] klesun commented on #63
Added support for `$this->` and `self::` in the doc in [2019.03.09.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/59242)
![image](https://user-images.githubusercontent.com/5202330/54071682-25387600-4268-11e9-8c84-0a47304abb4c.png)

[2019-03-09 12:38] #63 closed

[2019-03-12 07:33] blacksmoke26 commented on #64
Same issue:

![image](https://user-images.githubusercontent.com/425744/54182305-f833cf80-44c2-11e9-9cfe-f2e96a141ee4.png)

[code]

[2019-03-12 11:15] klesun commented on #64
Oh, thanks a lot, I'll take a look

[2019-03-12 11:20] klesun commented on #64
@blacksmoke26, just to be sure, you are using plugin version [2019.02.28.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/58898) or higher, right?

[2019-03-12 11:28] klesun commented on #64
oh, never mind, reproduced

[2019-03-12 16:45] King2500 opened #67 "Container::get return type"
We use Symfony DI Container and your plugin shows methods, which do not really exist:

![image](https://user-images.githubusercontent.com/4896363/54218792-7f4a6d00-44ee-11e9-9909-acd1f6b0af72.png)

Why are these "methods" attached? The `get` method of `Container(Interface)` returns the actual objects, not an instance of the container itself or anything else...

Thank you for your reply

[2019-03-12 18:34] klesun commented on #67
Hi.
The completion comes from the `Symfony\Component\DependencyInjection\Container::get()` which is resolved as one of implementations of `ContainerInterface` and has such code:
[code]
And since in some cases it returns `$this` plugin resolves `$container->get()` as `Container`.

[2019-03-12 21:30] blacksmoke26 commented on #64
Using latest one:

![image](https://user-images.githubusercontent.com/425744/54237529-040da900-4538-11e9-8c0c-449d1d3ab30b.png)

[2019-03-12 21:45] klesun commented on #64
Cool, thanks.

[2019-03-12 22:42] klesun commented on #67
I would love to grey out such irrelevant options or exclude them altogether, but I can't think of a way to tell them apart from actually usefull options.

I could add a behavior that would fix this particular case: when we know the actual string value (`NewsRepository::class`) and the returned value depends on it - to cut off values that will never happen (`NewsRepository::class !== 'service_conta

[2019-03-12 23:48] King2500 commented on #67
1. The only situation when `Container` is returned, is when you call with `...->get('service_container')`.
But this situation is rare. When you already have access to the container with `$container->get` you dont need the container from itself..
2. This is already covered by [Symfony plugin](https://github.com/Haehnchen/idea-php-symfony2-plugin). I don't understand why this is needed to be covered

[2019-03-17 20:19] klesun commented on #64
Oh, lol, the issue happens because I have `UI designer` plugin disabled when I comipile `deep-assoc`...
Will be fixed in the next release.

[2019-03-22 07:00] blacksmoke26 opened #68 "java.lang.StackOverflowError"
[code]

Details:
PhpStorm 2019.1
Build #PS-191.6183.55, built on March 20, 2019
JRE: 1.8.0_202-release-1483-b39 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Windows 8.1 6.3

Plugin: v2019.03.09.001

[2019-03-22 11:58] klesun commented on #68
Thanks, I'll take a look tomorrow.

[2019-03-23 04:53] blacksmoke26 commented on #68
Cool!

[2019-03-24 17:22] klesun commented on #67
Whoa, this symfony plugin is cool. And my plugin seems to conflict with it very badly ;c.... I made few patches to not override it's features. My method completion options will be greyed out and in the bottom of the list from now on.
[2019.03.24.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/59858)

![image](https://user-images.githubusercontent.com/5202330/54882921-12

[2019-03-24 17:22] #67 closed

[2019-03-24 17:23] klesun commented on #64
[2019.03.24.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/59858)

[2019-03-24 17:23] #64 closed

[2019-03-24 17:33] klesun commented on #68
I could not reproduce exactly your case, but I found a lot of holes in the `UsageResolver`, hopefully that fixed it.
[2019.03.24.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/59858)

In case you ever get this exception again, may I ask you to write what exactly you were doing when getting it? My last theory was that you were typing a property/method name of an object

[2019-03-25 05:33] blacksmoke26 commented on #64
Cool!

[2019-03-25 05:34] blacksmoke26 commented on #68
Haha sure. Will do!

[2019-03-26 00:09] King2500 commented on #67
Ok, thanks.

But i still don't understand why you add those method completion at all. It makes no sense to me :)

[2019-03-26 08:31] martixy opened #69 "Null pointer exception"
Ah, the good old Null Pointer. Always fun to see one of those.
Was setting up a brand new symfony project and decided to try `->get('entity_manager')` to check if DB works and BAM.

[code]

[2019-03-26 11:33] klesun commented on #69
Yikes. Thanks for the report, will fix soon.

[2019-03-26 11:55] klesun commented on #69
[2019.03.26.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/59951)

[2019-03-26 11:55] #69 closed

[2019-04-11 12:37] Jurigag commented on #8
@klesun how about suggetions of keys from arrays returned by php internal functions? Like for example `debug_backtrace`

[2019-04-11 12:40] klesun commented on #8
@Jurigag, sounds good. I'm actually already doing this for a [set of functions](https://github.com/klesun/deep-assoc-completion/blob/master/src/org/klesun/deep_assoc_completion/built_in_typedefs/ReturnTypeDefs.java) I managed to find, but apparently `debug_backtrace` wasn't among them. I'll add `debug_backtrace` to the list soon.

[2019-04-11 12:43] klesun commented on #68
Hopefully you did not have this exception anymore. I'm closing the issue, if it happens again, please, ping me somehow, I'll reopen it.

[2019-04-11 12:43] #68 closed

[2019-04-11 12:43] klesun opened #70 "Built-in function list that takes/retuns associative array"
#### Takes assoc array

#### Returns assoc array

- ~debug_backtrace~ 4e47833f28b46ac1fb088269e44852079917399e

[2019-04-11 14:29] klesun commented on #8
Added support for `debug_backtrace()` in [2019.04.11.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/60760)
![image](https://user-images.githubusercontent.com/5202330/55965476-2fce9c80-5c66-11e9-846a-417d24fda516.png)

[2019-04-11 14:31] klesun commented on #70
Closing for now, will reopen if someone posts any more functions that do not provide completion yet.

[2019-04-11 14:31] #70 closed

[2019-04-14 10:03] ooghry opened #71 "autocomplete for object in assoc array"
Hi there
In the `get` method, $period['period']->end is DateTime but there is no suggestion for its methods.

[code]

[2019-04-14 10:48] klesun commented on #71
Look like you are right, thanks, I'll try to fix this today.

[2019-04-14 10:52] klesun commented on #71
This is possibly because there are 2 definitions of `\DatePeriod` class bundled in IDEA:
[code]

[2019-04-15 10:55] ooghry commented on #71
Is there any hope you can fix?

[2019-04-15 11:44] klesun commented on #71
yeah, sorry, was too busy yesterday, but it's an easy task

[2019-04-15 12:59] klesun commented on #71
Sorry for the waiting, here is the fix - (2019.04.15.001)[https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/60925]
![image](https://user-images.githubusercontent.com/5202330/56134498-374fb780-5f7e-11e9-82bd-4660b3578d10.png)

Apparently plugin totally ignored field type doc comment...

[2019-04-15 12:59] #71 closed

[2019-04-15 13:09] Jurigag commented on #8
Cool.

I'm also wondering if you could provide some way to define those possible keys for 3-rd party php extensions using php stubs(just empty php classes with phpdocs definiomns)? Like for example, there is c-based framework called phalcon, which just works as extension. There is method like `\Phalcon\Mvc\Model::findFirst()` which can accept array like this:

[code]

Of course adding it for all e

[2019-04-15 13:26] klesun commented on #8
@Jurigag, if you are a contributor of `phalcon/ide-stubs`, you can specify function argument type like this:
[code]
![image](https://user-images.githubusercontent.com/5202330/56136335-1a1ce800-5f82-11e9-8a7d-9f8f12b5aa16.png)

[2019-04-15 13:28] Jurigag commented on #8
Oh, thanks for this.

[2019-04-16 19:48] ooghry opened #72 "method suggestion for variable's method which initiate in $GLOBALS"
Hi
First of all Thank you for developing this plugin.
On this code,plugin should suggest `$date`'s method.
[code]
PS:I know using  `$GLOBALS` is awful.

[2019-04-16 19:53] ooghry commented on #72
May be same with my older issue:
https://github.com/klesun/deep-assoc-completion/issues/52

[2019-04-16 19:59] klesun commented on #72
hope this global var type resolution won't kill your CPU =3

[2019-04-16 22:42] klesun commented on #72
I'll be praying that this change will not cause freezes for framework users.
![image](https://user-images.githubusercontent.com/5202330/56248323-175fe700-6097-11e9-953d-fecdce2dceab.png)
I'll push the update to the main repository in a week or so.
If you want this update badly, you can download it manually from here [2019.04.16.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/u

[2019-04-16 22:46] klesun commented on #72
sorry, needs a bit more

[2019-04-16 23:01] klesun commented on #72
I'll be praying that this change will not cause freezes for framework users.
![image](https://user-images.githubusercontent.com/5202330/56248323-175fe700-6097-11e9-953d-fecdce2dceab.png)
![image](https://user-images.githubusercontent.com/5202330/56249519-9b1bd280-609b-11e9-9cff-fbf0bed3f88f.png)

I'll push the update to the main repository in a week or so.
If you want this update badly, you can do

[2019-04-16 23:01] #72 closed

[2019-04-18 17:41] ooghry commented on #72
Thank you for your new release.the autocomplete works fine,but PHPStorm considers the variable does not exists.
Is it your plugin's job to declare the variable to phpstorm or ...?
![image](https://user-images.githubusercontent.com/200244/56380055-612b0780-6226-11e9-82be-ad57bc0b735d.png)

[2019-04-18 21:21] klesun commented on #72
No, my plugin only deals with completion and GoTo definition. I can't contribute to the inspections for [performance reasons](https://github.com/klesun/deep-assoc-completion/issues/33#issuecomment-377044882) sadly.

The only thing I can suggest is to get rid is to uncheck "Enable inspection in global space" of "Undefined variable" inspection:
![image](https://user-images.githubusercontent.com/5202

[2019-04-21 05:29] manaphp opened #73 "class inherit question"
great plugin!

[code]
!!caret!! complete only `stub_id` not `user_id` and `user_name`.

[2019-04-21 05:37] manaphp opened #74 "use super global ,no completion"
[code]

[2019-04-22 08:28] klesun commented on #74
Hi.
You're almost there. If you wish to tell that `$name` is a key in `$_SERVER`, you can specify it this way:
[code]
Though currently plugin does not provide superglobals keys completion. I'll add it shortly and post a screenshot of your case with working completion.

[2019-04-22 08:40] manaphp commented on #74
thanks for your reply, can we reference [ .phpstorm.meta.php](https://blog.jetbrains.com/phpstorm/2019/02/new-phpstorm-meta-php-features/) add a dummy function friendly?

[2019-04-22 08:43] manaphp commented on #73
`static` support is very important, when use `model`!!!

[2019-04-22 09:08] manaphp commented on #74
too `not simple`, can we support same as syntax ? @param string $name = $_SERVER

if we can configure this info in .phpstorm.xxx.php,  how beautiful!
code  completion is just for  coding!

[2019-04-22 09:12] manaphp commented on #74
phpstorm has provides the completion of usperglobals

[2019-04-22 09:16] manaphp commented on #74
expectedArguments(\ini_get(), 0, argumentsSet("ini_values")); usage is good, but phpstorm does not support use php expression!!!!

[2019-04-22 09:26] klesun commented on #74
But `@param string $name = $_SERVER` would literally mean that `$name` is an array containing the keys of `$_SERVER`, not a string matching one of it's keys...

Added `$_SERVER` support in [2019.04.22.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/61221) (the built-in keys suggestions would not work through php docs)
![image](https://user-images.githubusercontent.com/5

[2019-04-22 09:28] klesun commented on #74
I'll research on that and will write back

[2019-04-22 09:32] manaphp commented on #74
i not update  plugin , but it can work correctly!
![无标题](https://user-images.githubusercontent.com/16060165/56494355-8b314200-6524-11e9-9279-b5ead723ce3b.png)

[2019-04-22 09:39] manaphp opened #75 "centralize configure as similar as .phpstorm.meta.php of phpstorm"
code completion is just for coding! maybe we does not want it mixed with phpdoc!

[2019-04-22 11:45] klesun commented on #74
Ok, closing this issue in favor of #75 - following .phpstorm.meta.php discussions shall continue there

[2019-04-22 11:45] #74 closed

[2019-04-22 11:48] klesun commented on #75
I guess vandalizing .phpstorm.meta.php slightly by allowing to use keyed arrays there, not just constants, sounds like a good idea =3. I'll take a look if I can by the next weekend or so...

[2019-04-22 11:52] klesun commented on #73
I'll take a look if this can be done without much blood... Resolving static would probabl cmplicate things a lot both code-wise and performance-wise.

[2019-04-22 11:55] manaphp commented on #73
`model` needs many fields name auto completion!!

[2019-04-23 21:02] klesun commented on #75
Dev note: related functionality is kept in `com.jetbrains.php.lang.psi.stubs.indexes.expectedArguments.*` package.

[2019-04-23 23:24] klesun commented on #75
Next release coming soon
![image](https://user-images.githubusercontent.com/5202330/56622259-fddf1200-6637-11e9-8b03-0bcaef1fc295.png)

[2019-04-24 00:03] klesun commented on #75
=)
![image](https://user-images.githubusercontent.com/5202330/56623600-8dd38a80-663d-11e9-8f36-1cd8502bea44.png)

[2019-04-24 00:28] klesun commented on #75
Released in [2019.04.24.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/61313)

[2019-04-24 02:44] manaphp commented on #75
Wow, I'm super excited by this feature!

[2019-04-24 04:48] manaphp commented on #75
if `search` method is inherited from parent class and not overwrite, it does not work!

[2019-04-24 09:37] klesun commented on #75
Thanks for noticing - corrected that in [2019.04.24.002](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/61330)
![image](https://user-images.githubusercontent.com/5202330/56649365-a8355480-668d-11e9-89bb-86a11146bcde.png)

[2019-04-24 10:18] manaphp commented on #75
if `Book`  not overwrite the `read`  method,it can not work.

[2019-04-24 11:14] klesun commented on #75
hm, it does work in my setup, though:
![image](https://user-images.githubusercontent.com/5202330/56655201-a6659400-6681-11e9-98e2-4cfb9c56cbe0.png)
You sure you updated plugin to the 2019.04.24.002? Could there be a mistake in your definition perhaps?

Here is the definition that supposedly works:

- `Book.php`
[code]
- `.phpstorm.meta.php`
    <?php
    namespace PHPSTORM_META {
        expectedA

[2019-04-25 10:55] manaphp commented on #75
your `\Library\InfoHolder::read()`  is not `static`.

[2019-04-25 11:00] klesun commented on #75
And when it is static, it seems to work for me as well:
![image](https://user-images.githubusercontent.com/5202330/56731150-4c300600-6749-11e9-8ca0-16e1d76af718.png)

[2019-04-25 11:01] klesun commented on #75
Could you post example of your code that does not work, perhaps?

[2019-04-25 11:31] manaphp commented on #75
[app-api.zip](https://github.com/klesun/deep-assoc-completion/files/3116664/app-api.zip)

type code in app\Controllers\TimeController.php

[code]
not work

[2019-04-25 11:37] klesun commented on #75
Oh, I see, your case is that you add meta info for the function that is not declared explicitly, but is inherited from `\ManaPHP\Model`:
[code]
[code]

[2019-04-25 11:38] klesun commented on #75
I guess it would be useful to support such cases as well. I will look into this later.

[2019-04-25 11:39] King2500 commented on #75
Good work!

I already had such feature in mind to suggest to JetBrains :)

![image](https://user-images.githubusercontent.com/4896363/56733087-6d9bec80-675f-11e9-8981-94b03d4141ab.png)

[2019-04-25 11:59] manaphp commented on #75
implemetion of @klesun is very user friendly.

[2019-04-25 15:44] King2500 commented on #75
@manaphp What do you mean?

[2019-04-26 01:27] manaphp commented on #75
i mean that  the definition of klesun completion is user friendly same as your suggest, we can provide sample data only.

[2019-04-27 17:18] klesun commented on #73
Related issue: #42

[2019-04-27 20:05] klesun commented on #73
Added `static::` support in doc comments in [2019.04.27.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/61505)
![image](https://user-images.githubusercontent.com/5202330/56854533-e60dd380-6940-11e9-95bf-f93dd693adb6.png)

[2019-04-27 20:18] klesun commented on #75
@manaphp, I just added the support for functions that aren't declared explicily in project (like the inherited `\App\Models\City::first()` in your case) - [2019.04.27.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/61505)
![image](https://user-images.githubusercontent.com/5202330/56854635-992afc80-6942-11e9-8bc5-c6e6dcdf09ed.png)

[2019-04-27 20:18] #75 closed

[2019-04-28 14:07] manaphp commented on #73
thanks,very good!!

[2019-04-29 07:03] manaphp commented on #73
if `find` is not `static` method ,it does not work..

[2019-04-29 08:47] klesun commented on #73
How does your phpdoc looks like when it's not static?

[2019-04-29 08:51] klesun commented on #73
Oh, reproduced. I'll take a look.

[2019-04-29 08:52] manaphp commented on #73
[code]

[2019-04-29 09:05] klesun commented on #73
There is a temprary hackish workaround: if you specify it like this:
[code]
It will work in a non-static method

[2019-04-29 09:07] klesun commented on #73
But I guess I'll make it possibly to use `static::` as well...

[2019-04-29 09:18] manaphp commented on #73
consistency is very import..

[2019-04-29 09:30] klesun commented on #73
Fixed in beta release: [2019.04.29.001](https://plugins.jetbrains.com/files/9927/61570/deep-assoc-completion.jar?updateId=61570&pluginId=9927&family=intellij)

Will be in stable repo within a week.

[2019-05-05 11:15] klesun commented on #73
Just uploaded to the main repo - https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/61899
You should now see 2019.04.29.001 in the list in your IDE updates

[2019-05-05 11:15] #73 closed

[2019-05-06 08:56] King2500 opened #76 "Goto for array keys from .phpstorm.meta.php"
When defining array keys in `.phpstorm.meta.php` Ctrl+click produces "confusing" behavior:

It shows this popup:
![image](https://user-images.githubusercontent.com/4896363/57215492-51187380-6fed-11e9-8fc7-78c5f90995cc.png)

and i end up in dummy file called "foo.bar" (maybe because my class is named "FooBar"):
![image](https://user-images.githubusercontent.com/4896363/57215526-6ee5d880-6fed-11e9-9

[2019-05-06 11:09] klesun commented on #76
Sounds reasonable.
Done in [2019.05.06.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/61951)
![image](https://user-images.githubusercontent.com/5202330/57221623-972f0080-7008-11e9-92a6-41f17638ce24.png)

Related issue: #75

[2019-05-06 11:09] #76 closed

[2019-05-06 11:54] King2500 commented on #75
Added this in https://github.com/King2500/doctrine-phpstorm-meta/commit/d73e2db58ee5656c5ed20f2cff1442cf93d9fda0
(which is included in Symfony plugin)

[2019-05-06 11:57] King2500 commented on #76
👍
Wow, you have really fast release cycle :)

[2019-05-07 08:33] GDXbsv commented on #8
It would be nice to have an ability to use annotation from the PSALM static analysis. We already use it for the type analysis, so autocompleat would be the great feature in additional.

This is an example from the documentation https://psalm.dev/docs/docblock_type_syntax/#array-types

and one from me:
[code]

Thanks!

[2019-05-07 09:35] klesun opened #77 "Support PSALM/phan phpdoc notation"
Suggested by @GDXbsv
See https://github.com/klesun/deep-assoc-completion/issues/8#issuecomment-489987560

https://github.com/vimeo/psalm/blob/master/docs/annotating_code/type_syntax/array_types.md

[code]

[2019-05-07 09:35] klesun commented on #8
Filed a separate issue - https://github.com/klesun/deep-assoc-completion/issues/77

[2019-05-07 09:37] klesun commented on #77
At last someone brought generics to php =-D

[2019-05-08 07:47] King2500 opened #78 "expectedArguments string literals from meta appear twice"
Sample code:
[code]

`.phpstorm.meta.php`:
[code]

Literals appear twice:
![image](https://user-images.githubusercontent.com/4896363/57358589-0e35d780-7176-11e9-8594-7d24388fcc10.png)

Looks like your plugin is replicating standard PhpStorm expectedArguments behavior. Why?

[2019-05-08 09:59] klesun commented on #78
Oh, my bad. Didn't check for built-in suggestions when adding my own.

[2019-05-08 11:16] klesun commented on #78
Fixed in [2019.05.08.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/62063)

[2019-05-08 11:16] #78 closed

[2019-05-08 11:20] klesun commented on #77
Basic support added in [2019.05.08.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/62063)

![image](https://user-images.githubusercontent.com/5202330/57371793-65e73980-719c-11e9-8755-57c5d03ea996.png)

Supported: array keys, [built-in interface](https://psalm.dev/docs/templated_annotations/#builtin-templated-classes-and-interfaces) generics
Not supported yet: scalar typ

[2019-05-09 15:47] King2500 commented on #78
👍

[2019-05-10 07:27] King2500 opened #79 "Add completion for expectedReturnValues array keys inside implemented method"
[code]
`.phpstorm.meta.php`:
[code]

[2019-05-10 07:32] King2500 opened #80 "Add completion for array keys inside interface method implementation"
[code]
This did not work for me :(

[2019-05-10 07:33] King2500 commented on #80
Similar to #79

[2019-05-11 13:12] klesun commented on #80
Awaiting deployment
![image](https://user-images.githubusercontent.com/5202330/57570147-9e3e8000-7407-11e9-8c8e-085cda6e6425.png)

[2019-05-11 13:26] klesun commented on #79
Added in [2019.05.11.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/62192)
![image](https://user-images.githubusercontent.com/5202330/57570238-8f0c0200-7408-11e9-8057-b89ad9e0be66.png)

[2019-05-11 13:26] #79 closed

[2019-05-11 13:27] klesun commented on #80
Deployed in [2019.05.11.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/62192)

[2019-05-11 13:27] #80 closed

[2019-05-12 23:10] klesun commented on #77
Added basic `@template` generic support in functions and classes - [2019.05.13.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/62242)
![image](https://user-images.githubusercontent.com/5202330/57588850-8cea9600-7523-11e9-918c-a3f6dc822e64.png)
![image](https://user-images.githubusercontent.com/5202330/57588894-48132f00-7524-11e9-9e24-dfb2d293a656.png)

[2019-05-15 09:36] EvgeniiR opened #81 "Worker exited due to exception NoClassDefFoundError"
IDE catches Exception, stacktrace.txt:

<pre>Worker exited due to exception

java.lang.NoClassDefFoundError: com/jetbrains/php/lang/psi/stubs/indexes/expectedArguments/PhpExpectedFunctionArgumentsIndex
	at org.klesun.deep_assoc_completion.resolvers.UsageResolver.findFqnMetaArgType(UsageResolver.java:264)
	at org.klesun.deep_assoc_completion.resolvers.UsageResolver.findMetaArgType(UsageResolver.jav

[2019-05-15 10:28] klesun commented on #81
@EvgeniiR, what verison of plugin are you using? And what is the version of your IDE?

[2019-05-15 10:30] klesun commented on #81
I screwed up back in the 2019.04.24.001 release, this could possibly be it...

[2019-05-16 17:06] EvgeniiR commented on #81
IDE info:
PhpStorm 2018.3.4
Build #PS-183.5429.47, built on February 8, 2019
JRE: 1.8.0_202-b26 amd64
JVM: OpenJDK 64-Bit Server VM by Oracle Corporation
Linux 4.14.101-1-MANJARO

Plugin version v2019.05.08.001

[2019-05-16 17:08] klesun commented on #81
thanks!

[2019-05-16 19:09] klesun commented on #81
Reproduced.
![image](https://user-images.githubusercontent.com/5202330/57880184-a6cef600-780d-11e9-88d4-03135e927613.png)
Sorry, looks like I used wrong min phpstorm version in plugin dependencies. Will add a try-catch in the next release for pre-2019 installations.

[2019-05-16 21:05] klesun commented on #81
Fixed in [2019.05.16.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/62419)

[2019-05-16 21:05] #81 closed

[2019-05-18 17:12] patrickkusebauch opened #82 "array of arrays"
Hey,
I am not sure whether it is not supported or I just did not find it in the documentation.

Is there a way to describe an array of structured arrays? Like you have a collection of them.

[2019-05-18 20:42] klesun commented on #82
Hi. You can use [any php expression](https://github.com/klesun/deep-assoc-completion/issues/63) if you are using the plugin format, including array of structured arrays:
[code]
![image](https://user-images.githubusercontent.com/5202330/57974800-702fe180-79ad-11e9-866b-7d99c4537e68.png)

Recently it also became possible to use the [psalm linter format](https://github.com/klesun/deep-assoc-completio

[2019-05-18 20:45] #82 closed

[2019-05-19 23:01] voku commented on #63
```@param $sale = self::createSale()``` works very good here, but "{@inheritdoc}" is not supported. Any plan to support it?

PS: thanks for this plugin, I really miss auto-completion in legacy projects :)

[2019-05-19 23:25] voku opened #83 "Support for "mysqli_query" (non OOP syntax)"
Hi, can you also support "mysqli_query", etc. (the non OOP syntax) for legacy projects?

[2019-05-20 07:53] voku opened #84 "Can you show a error if the key does not exists?"
Hi, is it possible that you can show a error / warning for missing keys? e.g. in legacy projects without good oop, there are many SQL queries without a mapping to entities, so that in the end something like ```$row['user_name']``` is used but in the select query it's called e.g. ```user.name as username``` so it's a typo and with "deep-assoc-completion" I have now auto-completion for this error bu

[2019-05-20 12:07] klesun opened #85 "phpdoc type info does not get inherited from abstract classes"
See https://github.com/klesun/deep-assoc-completion/issues/63#issuecomment-493799483

![image](https://user-images.githubusercontent.com/5202330/58020298-4e427600-7af7-11e9-996d-22f9f57e704b.png)

[2019-05-20 12:07] klesun commented on #63
@voku, thanks for noticing, the type info from the doc is supposed to be inherited (even without the `@inheritdoc`), but apparently this does not work when you extend the class as you say, that's a bug, re-filed it in https://github.com/klesun/deep-assoc-completion/issues/85

[2019-05-20 12:08] klesun commented on #85
Note that type info from _interface_ methods _does get inherited_.

[2019-05-20 12:22] klesun commented on #84
Hi.
It would be [problematic](https://github.com/klesun/deep-assoc-completion/issues/33) to provide error highlighting the way phpstorm usually does, as resolution of just one expression with the plugin can take more than a second sometimes.
The best I could do would be to add a _Tools -> deep-completion -> Lint Current File_ button for you to either click it manually or with something like [Save

[2019-05-20 12:22] klesun commented on #84
Do you need such button?

[2019-05-20 23:34] klesun commented on #85
Fixed in [2019.05.20.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/62577)
![Uploading image.png…]()

[2019-05-20 23:34] #85 closed

[2019-05-21 07:59] voku commented on #85
Thanks for the fix!

[2019-05-21 08:06] voku commented on #84
I don't think that the team would use the button, but if we can force the "Save Actions plugin" settings for everybody in the team that it could work.

[2019-05-21 08:15] kalessil commented on #84
@voku, sorry for late response, the deep arrays inspection is currently not in our scope (a lot of efforts on my end).

[2019-05-21 09:18] voku commented on #84
@kalessil I only thought that you maybe have a tip for this "error"-reporting thingy :)

[2019-05-21 12:31] klesun opened #87 "Unrelated classes implementing same interface should not get completion from each other"
See #85, https://github.com/klesun/deep-assoc-completion/pull/86 and https://github.com/klesun/deep-assoc-completion/commit/eaf8109b3ef4384bc97eba2868077b2b47795ca0#r33616348

Should ensure `ClassFirstPhpDocInheritKeysUnitTest` and `ClassSecondPhpDocInheritKeysUnitTest` do not receive type info from each other - these two classes should be completely unrelated.

[2019-05-21 15:18] klesun commented on #87
Reproduced
![image](https://user-images.githubusercontent.com/5202330/58108630-b5d1f180-7bdb-11e9-84be-3e4691279e7c.png)
Will fix soon

[2019-05-22 16:13] klesun opened #88 "Support `array_column()` third argument and null second argument"
[code]
outputs:
[code]

It works similar way as:
[code]

[2019-05-22 20:09] klesun commented on #88
![image](https://user-images.githubusercontent.com/5202330/58205214-91564200-7ccd-11e9-9325-5650a803719a.png)

[2019-05-22 20:12] #88 closed

[2019-05-23 00:04] klesun commented on #83
Added in [2019.05.23.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/62677)
![image](https://user-images.githubusercontent.com/5202330/58216349-dee2a700-7ced-11e9-8e31-7d086d5a0cc6.png)

[2019-05-23 00:04] #83 closed

[2019-05-23 00:05] klesun commented on #87
Deployed in [2019.05.23.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/62677)

[2019-05-23 00:05] #87 closed

[2019-05-23 18:09] klesun opened #89 "Support `yield` with key"
![image](https://user-images.githubusercontent.com/5202330/58275990-d8a00980-7d85-11e9-9880-d331c92c4b3e.png)

[2019-05-23 19:05] #89 closed

[2019-05-24 14:03] klesun opened #90 "Plugin ignores "Remove unused use-s on save" setting"
...and removes them even with this flag unchecked in AOTA `TwigServiceProvider.php` when you comment the `$twig->setCache(...)` line.

[2019-05-28 10:46] mialex commented on #8
Hello, could you tell me if it's possible to describe somehow the possibility to support a collection of assoc arrays? What I mean is the next:
[code]

So I could describe a possible set of options and then I can use it in any order?

[2019-05-29 00:48] klesun commented on #8
You can also use [psalm](https://github.com/klesun/deep-assoc-completion/issues/77) format (just added support for `|` in [2019.05.29.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/63201)):
![image](https://user-images.githubusercontent.com/5202330/58520903-932a7480-81a9-11e9-8677-9c7910555f62.png)

@mialex, another trick would be to use an undefined var (for example `

[2019-05-29 06:30] andrew-demb commented on #77
Nice to have add support `key-of`/`value-of` psalm types - https://github.com/vimeo/psalm/releases/tag/3.3.1

[2019-05-29 23:28] berkayunal opened #91 "Defining types for array keys"
Hi

Is it possible to define the type for an array key with the plugin?

`/** @var  $data['brand_detail'] = \App\Shop\Brand\Models\BrandModel() */`

So when you can autocomplete it like below

`$data['brand_detail']->title`

I can do this by having it like below. But it needs additional step.

[code]

Thanks for the plugin! Love it!

[2019-05-30 09:47] klesun commented on #91
Hi. Sounds like a useful feature.
Currently you can only add type for the single key this way:
![image](https://user-images.githubusercontent.com/5202330/58624442-c4956400-82bf-11e9-946f-8d2939fd4c12.png)
But I do get that this is pretty confusing way to type it. I'll add the ability to write `@var $data['brand_detail'] = ...` in the next release.

[2019-05-30 22:15] klesun commented on #91
soon
![image](https://user-images.githubusercontent.com/5202330/58668265-f17d6180-8327-11e9-8d3d-57ece26793ba.png)

[2019-05-30 22:23] #90 closed

[2019-05-31 00:48] klesun commented on #91
Released in [2019.05.31.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/63310)

[2019-05-31 00:48] #91 closed

[2019-05-31 09:08] berkayunal opened #92 "Constants as array option"
Hi,

I am trying to use constants in return type but it does not show autocomplete for constants.

[code]

I have also tried this way but still no luck

[code]

How to achieve this? Is it possible?

Thanks.

[2019-05-31 09:20] klesun commented on #92
Hm, it's strange that `BrandModel::SORT_TYPE_DEFAULT` does not work. Does your file look like this?
![image](https://user-images.githubusercontent.com/5202330/58695411-dd1b8200-8384-11e9-949f-2c7f9ec2f4be.png)
[code]

The `self::CONSTANT_NAME` is indeed not supported yet - I'll add in next release.

If you provide me with full code of minimal test case of `BrandModel::SORT_TYPE_DEFAULT`, I could d

[2019-06-13 15:05] King2500 opened #93 "Duplicate and inconsistent variables completion"
Why is this plugin adding duplicate variables completion:
![image](https://user-images.githubusercontent.com/4896363/59444030-6d35de80-8dfd-11e9-8300-8f7a0e524432.png)

It is also inconsistent with standard PhpStorm completion (`$` prefix ...)

[2019-06-13 19:27] klesun commented on #93
Thanks for the report.
I guess the inconsistency is the reason of duplicates.

[2019-06-13 19:49] klesun commented on #93
Reproduces this way:
![image](https://user-images.githubusercontent.com/5202330/59462944-4df67b80-8e14-11e9-8906-defd8f7c3c5d.png)

[2019-06-13 20:04] AustinGrey commented on #63
Thank you for an awesome plugin, I can finally document my options arrays and avoid all the mess of trying to keep track of all the options. However I'm curious how far can I take the documentation. Is it possible to document each key like I would a fully fledged parameter (specifying type and default value)? Right now I'm looking at this example:
![image](https://user-images.githubusercontent.com

[2019-06-13 20:49] klesun opened #94 "Allow adding free-form text comment next to each key after a `//` in psalm notation"
Even though it's not an oficial standard (I'll check if there is already something similar in their specification).
This should work when I'm done:
[code]

[2019-06-13 20:50] klesun commented on #63
@AustinGrey, maybe [psalm notation](https://github.com/klesun/deep-assoc-completion/issues/77) is what you are looking for? It's also mostly supported by the plugin:
![image](https://user-images.githubusercontent.com/5202330/59465404-5d78c300-8e1a-11e9-9d3d-b906a3b5ab77.png)
<details><summary>Click to expand code</summary>
<p>

[code]
</p>
</details>
The downside is that currently this format does

[2019-06-13 21:01] AustinGrey commented on #63
Oh man this is great! Yeah looks like psalm/phan notation would be the ideal but since there's no comments allowed yet I'll use the casting format you found second until comments come. Thanks!

[2019-06-13 21:09] klesun commented on #94
Related issue - #77

[2019-06-13 21:34] klesun commented on #93
Fixed in [2019.06.13.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/64014)

[2019-06-13 21:34] #93 closed

[2019-06-13 21:35] klesun commented on #92
Sorry for the delay.
Released in [2019.06.13.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/64014)

[2019-06-13 21:35] #92 closed

[2019-06-13 21:39] klesun commented on #63
@AustinGrey, I just added basic comments support in psalm format in [2019.06.13.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/64014):
![image](https://user-images.githubusercontent.com/5202330/59469232-bef15f80-8e23-11e9-8ccb-5233d1d1751a.png)
[code]

[2019-06-13 21:42] klesun commented on #94
Comments are now allowed since [2019.06.13.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/64014). Will also pass them to the key type info later, as is done with normal key comments.

[2019-06-13 22:12] klesun-misc commented on #94
ololo

[2019-06-13 22:15] klesun-misc commented on #94
ololo

[2019-06-13 22:16] klesun-misc commented on #94
ololo

[2019-06-13 22:17] klesun-misc commented on #94
oko

[2019-06-13 22:19] klesun-misc commented on #94
,nkn

[2019-06-14 03:18] manaphp opened #95 "completion for numeric index array keys"
![xx](https://user-images.githubusercontent.com/16060165/59481258-17614500-8e96-11e9-8462-36b79db34e65.gif)

[2019-06-14 03:24] manaphp opened #96 "how to completion for returned array key"
![abc](https://user-images.githubusercontent.com/16060165/59481518-23013b80-8e97-11e9-9068-8c36031f5c21.png)

how to get completion from `rules` method by `static sample()` keys?

[2019-06-14 04:51] manaphp commented on #96
![interface](https://user-images.githubusercontent.com/16060165/59484012-b9872a00-8ea2-11e9-8e38-008e06d8772b.png)
![admin](https://user-images.githubusercontent.com/16060165/59484013-ba1fc080-8ea2-11e9-90d0-b16845a4dad8.png)

if i add phpdoc on ` ModelInterface.php`, only, it can not work correctly,

if also add in  Admin.php , it can work.

can we support only add in ModelInterface.php??

[2019-06-14 05:04] manaphp opened #97 "completion words from model class properties"
![xxx](https://user-images.githubusercontent.com/16060165/59484541-c7d64580-8ea4-11e9-845c-5a62013cfb64.png)

can we support this feature?

[2019-06-14 05:07] manaphp commented on #97
currently, the ManaPHP framework beg to `Model::sample()` method  technically,

if we support this feature, `ManaPHP` framework can remove ugly `sample()` method!

[2019-06-14 08:46] klesun commented on #97
So, do I get it right, what you want is an ability to specify in php doc that returned value is an associative array containing keys matching the class fields?
Will such format satisfy you?
[code]

[2019-06-14 08:54] klesun commented on #95
Hi. It's not a bug, it's a feature. The `0, 1, 2, 3, 4` suggestion appear when plugin resolves variable as numeric array, to hint you that it is not associative array.

Is `$balances` not supposed to be a numeric array? Judging from the `(*circ*)(*circ*)` I would guess that `$balances` is created in a recursive function, that could cause plugin to go crazy. If you give me a minimal code example to

[2019-06-14 09:05] klesun commented on #96
So bassically the problem is that return php doc type info does not get passed to the implementing function.
[code]

[2019-06-14 09:07] klesun commented on #96
Similar issue: https://github.com/klesun/deep-assoc-completion/issues/85

[2019-06-14 09:14] manaphp commented on #97
YES, YES!!!!

very good!!!!!

[2019-06-14 09:18] manaphp commented on #95
`$balances = User::lists(['user_id' => 'balance'], ['user_id' => array_ufield($tickets, 'user_id')]);`

[2019-06-14 09:18] manaphp commented on #95
/**
     * @param string|array $fields =array_keys(static::sample())[$i]
     * @param array        $filters =static::sample()
     *
     * @return array
     */
    public static function lists($fields, $filters = null)

[2019-06-15 23:15] klesun commented on #97
will deploy later today or tommorow
![image](https://user-images.githubusercontent.com/5202330/59557190-49bc9080-8fc3-11e9-9d22-e7df39881eee.png)
<details><summary>Click To Expand Code</summary>

[code]
</details>

[2019-06-15 23:25] klesun commented on #96
Will deploy later tonight or tomorrow.
![image](https://user-images.githubusercontent.com/5202330/59557268-dddb2780-8fc4-11e9-81fb-fab8e1accd6f.png)

[2019-06-16 11:57] klesun commented on #97
Deployed in [2019.06.16.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/64128)

[2019-06-16 11:58] klesun commented on #96
Deployed in [2019.06.16.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/64128)

[2019-06-16 11:58] #96 closed

[2019-06-16 14:43] manaphp commented on #97
i have test it , it works,

but i found a little question, it complete protected properties,

 to support `get_class_vars(static::class)`?

![QQ截图20190616214149](https://user-images.githubusercontent.com/16060165/59565577-15f76e80-9088-11e9-83c8-ab66973015d9.png)

[2019-06-16 18:28] klesun commented on #97
[get_object_vars()](https://php.net/manual/en/function.get-object-vars.php)

If you are using it as `get_object_vars($this)` or `get_object_vars(new static)` I think it makes sense that it includes protected properties, as they would be returned in the real code.

I will add `get_class_vars` support later, but if I get it right, it won't solve your protected property problem.

[2019-06-17 01:38] manaphp commented on #97
if the call is not inside the method,  protected is not accessible,  it is a bug?

[code]

[2019-06-17 03:12] manaphp commented on #97
[code]

[code]

it not work, if use `get_object_vars(new static)` on non-static method?

[2019-06-25 11:42] klesun opened #98 "No private func usage based arg completion"
![image](https://user-images.githubusercontent.com/5202330/60095498-37b6bc80-973e-11e9-9ea8-baf1013f2121.png)
Likely caused by c9a528effa4966ec7231cb6d55f4cf2ebf4b8ee5

[2019-06-25 12:03] klesun commented on #98
Fixed in [2019.06.25.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/64591)

[2019-06-25 12:03] #98 closed

[2019-06-25 12:36] klesun commented on #75
I'd like to note here that even though `argumentsSet(...)` does normally work, it won't work inside another `registerArgumentsSet(...)`. To work around that, you can declare a function that returns the example value and use it where you would normally use `argumentsSet(...)`.

So instead of:
[code]
![image](https://user-images.githubusercontent.com/5202330/60098474-258c4c80-9745-11e9-9fc5-12fa734f

[2019-06-27 23:03] miquelbrazil commented on #63
Hey @klesun, in reference to the following:

Just thought I'd double check (and I may be doing something wrong) but does this newer psalm commenting support only work for the @param tag? I tried using it with the @var tag with no luck. I can definitely use the parenthetical type + comment format you discovered above if the new format doesn't work for the @var tag yet.

Dope plugin BTW.

[2019-06-27 23:18] klesun opened #99 "Suggest at least some keys from psalm phpdoc, even if type expression was not parsed completelty"
Example:
[code]
Should at least suggest `key1` and `key2` even though there is a mistake on `key3` line.

[2019-06-27 23:19] klesun commented on #63
Hi, @miquelbrazil.
From what I observe, `@var` does seem to work:
![image](https://user-images.githubusercontent.com/5202330/60306706-c2f7a400-9930-11e9-86e4-4bf2f5b67d14.png)
I would guess that there is a mistake somewhere in your type expression (missing coma, or `=>` instead of `:` or quotes around key names, or something...). It's also possible that some of constructs you are using are not sup

[2019-06-27 23:26] klesun commented on #99
Home my friends won't lure me to a party this weekend, and I can resolve all these issues peacefully...

[2019-06-28 00:27] miquelbrazil commented on #63
Thanks for the quick reply @klesun

So a couple of things I realized in my noobish-ness with trying to get better at commenting:

1. I was attempting to make a docBlock on an array that already presented a defined structure (which is probably really silly to do)
2. I was using a @var tag over an object field when I should have been using a @property tag in a class-level docBlock.

Nonetheless, my

[2019-06-28 09:16] klesun opened #100 "Support psalm doc format in `@property` and `@method`"
[code]

[2019-06-28 09:18] klesun commented on #63
It's in my TODO list - https://github.com/klesun/deep-assoc-completion/issues/94#issuecomment-501889688 (will implement it this weekend I hope)

Yeah, plugin does not support support psalm format in the `@property` yet. Filed an (anniversary) issue for that - https://github.com/klesun/deep-assoc-completion/issues/100

Thanks for the detailed explanation!

[2019-06-29 05:51] manaphp opened #101 "if enable this plugin, phpstorm internal completion is broken"
plugin enabled:
![image](https://user-images.githubusercontent.com/16060165/60380250-ecb9e380-9a74-11e9-8a0b-c81f6fa93196.png)

plugin disabled:
![image](https://user-images.githubusercontent.com/16060165/60380226-95b40e80-9a74-11e9-9f25-66313c0a1ea5.png)

[2019-06-29 11:53] klesun commented on #101
sorry, my bad, fixing

[2019-06-29 11:56] klesun commented on #101
For history, there was a similar issue some time ago: https://github.com/klesun/deep-assoc-completion/issues/52#issuecomment-436357713

[2019-06-29 12:06] manaphp commented on #101
method_exists(var));
all this usage is  not work!!!!!!

[2019-06-29 12:52] klesun commented on #101
Could you clarify what do you mean, please? Do you mean that `method_exist($var, '')` does not suggest the method names? I may be wrong, but I believe it's the plugin-specific feature, and it does not work for you now because you disabled the plugin...

[2019-06-29 12:57] manaphp commented on #101
var position complete nothing maybe reason is the same------------------ 原始邮件 ------------------
发件人: "Artur Klesun"<notifications@github.com>
发送时间: 2019年6月29日(星期六) 晚上8:52
收件人: "klesun/deep-assoc-completion"<deep-assoc-completion@noreply.github.com>;
抄送: "ManaPHP framework"<182452649@qq.com>;"Author"<author@noreply.github.com>;
主题: Re: [klesun/deep-assoc-completion] if enable this plugin, phpstorm

[2019-06-29 13:00] manaphp commented on #101
my sample code is not good the function name can not complete------------------ 原始邮件 ------------------
发件人: "Artur Klesun"<notifications@github.com>
发送时间: 2019年6月29日(星期六) 晚上8:52
收件人: "klesun/deep-assoc-completion"<deep-assoc-completion@noreply.github.com>;
抄送: "ManaPHP framework"<182452649@qq.com>;"Author"<author@noreply.github.com>;
主题: Re: [klesun/deep-assoc-completion] if enable this plugin, p

[2019-06-29 13:01] klesun commented on #101
Here is the testing build that fixes the completion popup not appearing on `DEBUG_BACKTRACE_IGNORE_ARGS` [2019.06.29.002](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/64863)

[2019-06-29 13:42] klesun commented on #94
![image](https://user-images.githubusercontent.com/5202330/60384990-db7cd100-9a8c-11e9-96c9-c8e7672c68fd.png)

Will deploy soon

[2019-06-29 17:27] klesun commented on #97
Thanks for the great test case. Yeah, it did not infer the final class because plugin only used static method call context for the resolution. Will be fixed in the monday release.
![image](https://user-images.githubusercontent.com/5202330/60387468-573a4600-9aac-11e9-99bf-ebe971a77655.png)

[2019-06-29 21:21] klesun commented on #100
soon
![image](https://user-images.githubusercontent.com/5202330/60389585-f707cc00-9acc-11e9-8620-dea6fe62c098.png)

[2019-06-29 23:29] miquelbrazil commented on #94
That was fast. Is it by design to keep the double slashes in the autosuggest dropdown?

[2019-06-30 00:33] klesun commented on #99
Deployed in (2019.06.30.001)[https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/64870]
![image](https://user-images.githubusercontent.com/5202330/60390816-b49fb880-9ae7-11e9-979b-8ef3f3cd81db.png)

[2019-06-30 00:33] #99 closed

[2019-06-30 00:34] klesun commented on #101
Deployed in [2019.06.30.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/64870)

[2019-06-30 00:34] #101 closed

[2019-06-30 00:35] klesun commented on #94
yeah, could not think of a better way to visually distinct them

[2019-06-30 00:35] klesun commented on #94
Deployed in [2019.06.30.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/64870)

[2019-06-30 00:35] #94 closed

[2019-06-30 00:35] klesun commented on #100
Deployed in [2019.06.30.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/64870)

[2019-06-30 00:35] #100 closed

[2019-06-30 00:36] klesun commented on #97
(or a sunday release...)
Deployed in [2019.06.30.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/64870)

[2019-06-30 00:36] #97 closed

[2019-07-07 01:54] manaphp opened #102 "can support `offsetGet`method ?"
[code]
[code]
[code]

[2019-07-07 02:11] manaphp opened #103 "completion list of method name is double"
![image](https://user-images.githubusercontent.com/16060165/60763080-8b5ec980-a09f-11e9-9b7f-115ff46f9b86.png)

[2019-07-08 20:17] klesun commented on #102
thanks for the suggestion, sounds like a good feature

[2019-07-08 20:21] klesun commented on #103
Hi. I believe this completion is not from the plugin (no bluish icon). I'll double check when I have a pc in front of me.

[2019-07-09 15:58] klesun commented on #103
![image](https://user-images.githubusercontent.com/5202330/60904161-3aa3c800-a27b-11e9-865e-95d5ea8caf17.png)
Does not reproduce out of the box on my side. If this still bothers you, could you check if the issue still happens when you disable the plugin? If the issue *does* only reproduce with the plugin enabled, could you, please, provide a minimal test case?

[2019-07-10 01:42] manaphp commented on #103
sorry, i can not reproduce it ,now...

[2019-07-10 14:12] klesun commented on #103
ok, I guess I'm closing this issue then.

[2019-07-10 14:12] #103 closed

[2019-07-18 09:01] friendlyanon opened #104 "Everything is a string"
![1](https://i.imgur.com/vh3Wl9G.png)

PhpStorm 2019.2 EAP
Build #PS-192.5438.24, built on June 27, 2019
Runtime version: 11.0.3+12-b304.2 amd64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Windows 10 10.0
GC: G1 Young Generation, G1 Old Generation
Registry: run.processes.with.pty=TRUE
Non-Bundled Plugins: com.alayouni.ansiHighlight, com.intellij.ideolog, mobi.hsz.idea.gitignore, BashSupport, c

[2019-07-18 09:24] klesun commented on #104
Thanks. It shows `string` because it's the type of what will be inserted =-D. Will fix in next release.

[2019-07-20 21:40] klesun commented on #104
Argument keys completion will look like this now: (`from usage` will be displayed instead of `string`)
![image](https://user-images.githubusercontent.com/5202330/61584365-e5e33580-ab35-11e9-9410-fdf2d90153ff.png)

Dunno how useful it would be to show actual value types instead of plain `from usage`, if you think it would, I could file a separate low priority feature request as it would take some t

[2019-07-22 06:57] friendlyanon commented on #104
This is better, however what's the point of annotating the parameter properly if the type annotations can't be observed in the autocomplete?
Very good plugin either way. Keep up the good work!

[2019-07-22 07:22] klesun opened #106 "Show value type info in argument keys completion popup"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%244%20Funded-%2300A156.svg" />](https://issuehunt.io/r/klesun/deep-assoc-completion/issues/106)

Original discussion: https://github.com/klesun/deep-assoc-completion/issues/104

![image](https://user-images.githubusercontent.com/5202330/61613574-356a5400-ac51-11e9-8808-f0b448931131.png)

Should pass type info to the usage-ba

[2019-07-22 07:23] klesun commented on #104
Supposedly for the main completion popup _inside_ the `group()` function.
![image](https://user-images.githubusercontent.com/5202330/61613470-ee7c5e80-ac50-11e9-86f4-e5d05b36247d.png)

But good point. I'm just being lazy here. I filed the issue - https://github.com/klesun/deep-assoc-completion/issues/106, one day I'll get to it.

[2019-07-24 16:29] klesun commented on #104
`string` -> `from usage` fix released - [2019.07.24.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/66026)

[2019-07-24 16:29] #104 closed

[2019-07-30 12:23] Jurigag opened #107 "No argument methods - cursor position"
When method is resolved by deep assoc plugin and have no arguments it puts cursor anyway in method call, so if you want to do chain call you end with something like:

![image](https://user-images.githubusercontent.com/10086991/62128818-8aebd400-b2d5-11e9-9c7a-c1682a5e43d1.png)

[2019-07-30 12:36] klesun commented on #107
Thanks for your feedback. Will fix that in next release.

[2019-07-30 12:37] klesun commented on #107
Minimal test case to reproduce the issue:
[code]

[2019-07-31 21:36] klesun commented on #107
Fix released in [2019.07.31.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/66473)

[2019-07-31 21:36] #107 closed

[2019-08-04 19:20] ArtemGoutsoul opened #108 "NullPointerException"
plugin version:
2019.07.31.001
[code]

PhpStorm 2019.2
Build #PS-192.5728.108, built on July 24, 2019
Licensed to Enkora Oy / Artem Goutsoul
Subscription is active until February 6, 2020
Runtime version: 11.0.3+12-b304.10 amd64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Windows 10 10.0
GC: ParNew, ConcurrentMarkSweep
Memory: 1450M
Cores: 12
Registry: run.processes.with.pty=TRUE, debugger.watc

[2019-08-04 19:22] klesun commented on #108
Thanks for the report

[2019-08-06 06:22] klesun commented on #108
[2019.08.06.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/66716) - I did not find the root of the cause, but I added strict `@NotNull` annotations in the project for debug. Next time the stack trace will include the source of these `null`s and I'll be able to fix it. If you will be so kind to post it again, I will be very grateful ;)

[2019-08-15 03:52] manaphp opened #109 "plugin crash"
version: 2019.08.06 001

[code]

[2019-08-15 08:44] klesun commented on #109
thanks for the report

[2019-08-15 09:46] klesun commented on #109
I could not reproduce your exact issue, but I did find a hole in a core function that could have caused that.

Fix deployed in: [2019.08.15.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/67278)

[2019-08-15 09:46] #109 closed

[2019-08-20 10:02] Jurigag commented on #8
Im wondering if it's somehow possible - add autocomplete based on xdebug variables? @klesun

[2019-08-20 10:04] klesun commented on #8
@Jurigag, if this is just a static set of keywords, no problem. Could you provide a link describing them?

[2019-08-20 10:06] Jurigag commented on #8
Well i mean when xdebug session is active. Like suggest keys here:

![image](https://user-images.githubusercontent.com/10086991/63338353-eb08ef80-c342-11e9-9125-80b44c67ab2e.png)

[2019-08-20 10:09] klesun opened #110 "Research the API and suggest completion from xdebug if possible"
![image](https://user-images.githubusercontent.com/5202330/63338564-92315b00-c332-11e9-8657-068a70a6035f.png)

[2019-08-20 10:10] klesun commented on #8
https://github.com/klesun/deep-assoc-completion/issues/110
I'll look into that. If there will be a usable API I'll add it.

[2019-08-28 08:06] MisatoTremor commented on #108
2019.08.15.001

[code]

[2019-08-28 09:23] klesun commented on #108
Thanks a lot!

[2019-08-28 20:38] klesun commented on #108
[2019.08.28.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/67923)
Hope this will fix the issue for good

[2019-08-31 23:40] jorgecc opened #111 "Question: Unable to autocomplete field."
I checked some issues but I am still unable to autocomplete a field.

[code]
* I don't need $obj->field['...']
* The phpdoc string=['a','b','c'][$i]  works with arguments of a function.

[2019-09-01 00:28] klesun commented on #111
So, if I get it right, you want plugin to suggest the string value in an assignment. Thanks for the suggestion. I guess I'll add it to my todo list.

[2019-09-01 09:38] MartkCz opened #112 "completion space before parentheses"
![image](https://user-images.githubusercontent.com/10145362/64074517-8f2c5800-ccac-11e9-8282-54e2eabc59b4.png)

Expected: `->test()`
but given: `->test ()`

[2019-09-01 09:40] MartkCz opened #113 "Annotation psalm/phan `@return` support"
![image](https://user-images.githubusercontent.com/10145362/64074577-59d43a00-ccad-11e9-9ca5-d23de7c28af6.png)

[2019-09-01 10:04] klesun commented on #113
Seems to not work with non-class functions

[2019-09-01 16:20] klesun commented on #113
Fixed in [2019.09.01.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/68069)

[2019-09-01 16:20] #113 closed

[2019-09-01 18:34] klesun commented on #112
Fixed in [2019.09.01.002](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/68078)

[2019-09-01 18:34] #112 closed

[2019-09-02 09:27] klesun commented on #108
It should not, but, please, ping me if the issue happens again.

[2019-09-02 09:27] #108 closed

[2019-09-18 08:44] RobinRadic opened #114 "Class property autocompletion"
Hi!
I think this example explains it all.
[code]

Am i doing something wrong or is this not supported?

[2019-09-18 09:31] klesun commented on #114
Hi. There is not such feature yet. I'll add it in the next release.

[2019-09-18 13:39] klesun commented on #114
Released the feature in [2019.09.18.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/68956)
![image](https://user-images.githubusercontent.com/5202330/65153702-bd829500-da19-11e9-93ec-a7fbcbc628f3.png)

[2019-09-18 13:39] #114 closed

[2019-09-18 16:12] RobinRadic commented on #114
I just got a notice in my editor that `deep-assoc-completion` had a update. I was like "nahh no way!?"

You sir are amazing. Thanks a lot for this fast update!

[2019-09-18 16:13] klesun commented on #114
glad to serve =-D

[2019-09-18 21:01] klesun commented on #111
The feature is now available in *testing* release [2019.09.18.002](https://plugins.jetbrains.com/files/9927/68956/deep-assoc-completion.jar?updateId=68956&pluginId=9927&family=INTELLIJ)

Will deploy to stable in few days

[2019-09-19 08:45] klesun commented on #111
In stable now

[2019-09-19 08:45] #111 closed

[2019-09-27 08:50] daniser opened #115 "Class method resolving problem?"
method D() resolved correctly:
![ok](https://user-images.githubusercontent.com/5169543/65755672-dc68e180-e113-11e9-85ce-987ca7450519.png)
But when I do the same from included file, it highlight yellow:
![notok](https://user-images.githubusercontent.com/5169543/65755740-fdc9cd80-e113-11e9-94c5-7a4cc8839281.png)
Anyway I can reach method by clicking on it with Ctrl.

[2019-09-27 09:22] klesun commented on #115
You sure _Ctrl + click_ does not work? The yellow highlighting is generated by phpstorm itself, and I sadly [can't remove it](https://github.com/klesun/deep-assoc-completion/issues/34) even though plugin manages to resolve the method just fine. But the _Ctrl + click_ and completion should still work even when method is highlighted. At least it does for me:
![image](https://user-images.githubuserco

[2019-09-27 09:24] klesun commented on #115
Oh, lol, sorry misread "I can reach method" as "I can't reach method"

[2019-09-27 09:35] klesun commented on #115
The only thing I could possibly do is to just tell IDEA that any time it tries to take a key from array, it's type is `mixed` rather than `null`, then it won't ever highlight a method on an object taken from the array... I guess I'll do that, will take some time.

[2019-09-27 09:40] daniser commented on #115
Ok, thanks for the answer. I think it will be the optimal solution.

[2019-09-30 20:17] klesun commented on #115
Released in [2019.09.30.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/69643)

![image](https://user-images.githubusercontent.com/5202330/65913389-5a044a00-e3bf-11e9-88d6-dd4d5de6901d.png)

[2019-09-30 20:17] #115 closed

[2019-10-01 18:14] JasonTheAdams opened #116 "Using phpdoc with numeric array for List"
At times I'll do something like this:
[code]
It's possible there's already a way to do this, but how would I write the docblock for `doAndGetSomething` do indicate the type of what's being returned per index? I tried `@returns array [ClassA, ClassB]` and `@returns array [0 => new ClassA, 1 => new ClassB]`, but autocomplete doesn't seem to kick in.

If I do `doAndGetSomething()[0]` then the autocom

[2019-10-01 18:42] klesun commented on #116
Um, possibly yes, but if you actually write it as `@returns` rather than `@return` I think that would be more likely the reason. I believe [@return](https://docs.phpdoc.org/references/phpdoc/tags/return.html) is the only valid phpdoc tag name.

[2019-10-01 18:48] klesun commented on #116
Upd.: never mind my `@returns` comment, I reproduced the issue, it indeed does not work with the php 7.1 `[]` tuple assignment. Will fix.

[2019-10-01 20:32] JasonTheAdams commented on #116
Awesome, thanks! The `@returns` thing was just a Github typo. I wasn't copy and pasting.

Good to know it works with the old `list()` syntax.

[2019-10-01 20:48] klesun commented on #116
The php 7.1 spport `[]` added in release [2019.10.01.002](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/69712)

![image](https://user-images.githubusercontent.com/5202330/65999139-78dd0c00-e4a5-11e9-950d-10dbffebcafd.png)

[2019-10-01 20:48] #116 closed

[2019-10-01 20:52] klesun opened #117 "Support php 7.1 list assignment with keys"
See https://www.php.net/manual/en/function.list.php#example-6293
[code]

Relevant issue: #116

[2019-10-01 20:56] klesun commented on #117
First of all - resolve the typo of the assigned key variables, but having completion of the key name would be a nice bonus as well.

[2019-10-02 16:53] JasonTheAdams commented on #116
Just updated, tested, and it works great! Thank you for doing this so quickly!

[2019-10-04 14:52] berkayunal opened #118 "Traits and @method"
Hi,

Do you have any recommendations for the following case (Traits and @method definition)

[code]

Here is a screenshot from the IDE
![IDE_Example](https://user-images.githubusercontent.com/390230/66217156-75c56400-e6cf-11e9-80f1-677c5add1c2e.png)

Any help is appreciated.

Thanks for the plugin! Love it!

[2019-10-04 21:02] klesun commented on #118
Does typing `self` in place of `XXX` do what you want?
![image](https://user-images.githubusercontent.com/5202330/66239759-65c77780-e703-11e9-82df-4eac40334a29.png)

[2019-10-04 21:09] klesun commented on #118
There is also this plugin-specific completely unjustified here, yet possible format:
![image](https://user-images.githubusercontent.com/5202330/66240128-5c8ada80-e704-11e9-9a73-cdf4d2667396.png)

[2019-10-04 22:12] berkayunal commented on #118
Hi

There are some kind of weirdness here.

1. When used by "self" autocomplete does not show related method.  I wonder why does this behave different in yours than mine

![sc](https://user-images.githubusercontent.com/390230/66242661-b42c4480-e70a-11e9-9245-8eda7fe46fc3.png)

2. When used by "mixed|static" autocomplete shows the method but it does recognize the method as used so you cannot use "f

[2019-10-05 05:27] klesun commented on #118
Just a guess, but could it be that you are trying this in a _New Scratch File_? I noticed that phpstorm seems to ignore classes defined there...

[2019-10-06 21:04] #117 closed

[2019-10-06 21:09] klesun commented on #117
[2019.10.07.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/70065)

[2019-10-06 21:16] klesun commented on #118
Ok I'm closing this issue, as it has nothing to do with the plugin (right?).
Hope you'll figure out where your problem is. The only more things I can advise are to:
1. Try renaming the classes to anything else (I had some glitches with IDEA when some FQN indexes got broken and renaming them helped)
2. Reset cache: _File ->Invalidate Caches / Restart_
3. Ask authors of this functionality for suppor

[2019-10-06 21:16] #118 closed

[2019-10-24 23:53] klesun opened #119 "Allow to specify php data reference function FQN in twig comment"
Considering we have such php class:
[code]

The comment format is subject to change, but for now let's go with:
[code]

[2019-10-24 23:55] klesun commented on #119
Would be nice to also have it work in for loops, key access, etc...

[2019-10-28 00:04] klesun commented on #119
![image](https://user-images.githubusercontent.com/5202330/67644126-40efaa00-f927-11e9-972f-e703c898d36d.png)
That's a start

[2019-10-28 01:45] klesun commented on #119
Now we're talking
![image](https://user-images.githubusercontent.com/5202330/67646138-58359400-f935-11e9-854f-2ed370cb97d0.png)

[2019-10-28 01:52] klesun commented on #119
Released in [2019.10.28.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/71246)

[2019-10-28 01:52] #119 closed

[2019-11-08 13:35] manaphp opened #120 "`from usage` ignore non-public class property"
![image](https://user-images.githubusercontent.com/16060165/68480393-a587fe80-026f-11ea-9aa3-d9fd1b2906a4.png)

[2019-11-08 13:37] klesun commented on #120
Is this code public? If so, could you give me a link? (I'm particularly interested in implementation of `where()` and definition of these fields)

[2019-11-08 13:43] klesun commented on #120
From a glance, I think I could add a magic `get_object_vars_pub()` and `get_class_vars_pub()` function support in a phpdoc, will that satisfy you?

[2019-11-08 13:43] manaphp commented on #120
https://github.com/manaphp/manaphp/blob/master/apps/user/app/Controllers/IndexController.php

[2019-11-08 13:43] manaphp commented on #120
City::where(['_last_refresh'])

[2019-11-08 13:45] manaphp opened #121 "connect two class"
model::query() return a Query instance, can query method's use the properties of model to completion?

[2019-11-08 13:45] manaphp opened #122 "connect two class"
model::where() return a Query instance, can query method's use the properties of model to completion?

[code]

[2019-11-08 13:46] manaphp commented on #122
only model::where can perfect, ...

[2019-11-08 13:47] #121 closed

[2019-11-08 13:50] klesun commented on #122
Maybe you could use [psalm](https://github.com/klesun/deep-assoc-completion/issues/77#issuecomment-491637176) `@template` syntax? (like generics in java)
[code]

[2019-11-08 13:50] manaphp commented on #120
ok is ok ,but can AI

:)

[2019-11-08 13:52] manaphp commented on #122
all model use same method implementation, can use static instead of XXX usb classs name?

[2019-11-08 13:54] manaphp commented on #122
query share the proerties of dynamic model

[2019-11-08 13:56] klesun commented on #120
Sorry my ignorance, what does "AI" stand for? It's not Artificial Intelligence, is it?

[2019-11-08 13:59] manaphp commented on #120
yes,
 if can smarty to inter is very good.

[2019-11-08 14:06] manaphp opened #123 "use table name instead of get_object_var(static)"
use a dummy method connect the table to class, is very convenient

[2019-11-08 14:08] manaphp opened #124 "can we complete the path string? (blade template engine)"
used in template

[2019-11-08 14:09] klesun commented on #124
you are on a rampage =-D

[2019-11-08 14:09] klesun commented on #124
By template you mean like `.twig` or smarty?

[2019-11-08 14:12] manaphp commented on #124
sword: customized blade template engine

[2019-11-08 14:13] manaphp commented on #124
i hate input string which can not be completed

[2019-11-08 14:14] klesun commented on #124
If you give me some detailed test cases, I guess there won't be problems for me to add the completion (never used neither _sword_, nor _blade_ tbh)

Ideally, a minimal test case with all php/blade files with a comment above the line where completion should happen with the keywords that should be suggested.

[2019-11-08 14:15] manaphp commented on #124
or can we provide a customized dictionary to complete?

[2019-11-08 14:18] manaphp commented on #123
this feature is very cool,
 now can complete pdo query and get_object_var(static), you only need to glue them

[2019-11-08 14:18] klesun commented on #123
For info, you can write:
[code]
in a phpdoc
![image](https://user-images.githubusercontent.com/5202330/68482996-9a62ad80-0232-11ea-8098-eaa37d54f273.png)

Maybe you can achieve what you want by that?

You will need database configured.

[2019-11-08 14:20] manaphp commented on #123
not user friendly

[2019-11-08 14:20] manaphp commented on #123
good things need simple!!

[2019-11-08 14:21] manaphp commented on #123
connects the table to class!!

[2019-11-08 14:23] manaphp commented on #123
can we use php to generate the table name dynamicly?

[2019-11-08 14:24] klesun commented on #123
Do you want something like this?
[code]

[2019-11-08 14:24] manaphp commented on #123
yes

[2019-11-08 14:24] klesun commented on #123
ok, why not

[2019-11-08 14:26] manaphp commented on #123
we can use magic:: namespace to do simple somthing

[2019-11-08 14:29] klesun commented on #122
I think I know an elegant way how this could be declared. I'll make a small patch to `QueryInterface.php` (by adding the model class as a `@template` parameter to `QueryInterface` class) and will hear your thoughts on it.

[2019-11-08 14:32] manaphp commented on #122
/**
     * @param int|string|array $filters =get_object_vars(new static)
     *
     * @return \ManaPHP\QueryInterface<`static`>
     */
    public static function where($filters)

is perfect!!!

[2019-11-08 14:38] manaphp commented on #122
only A proerties replace of B properies, methods don't need

[2019-11-08 14:58] klesun commented on #124
Could you, please, provide a link to the "sword" engine homepage? Can't google it...

Does it have same formats as [blade](https://laravel.com/docs/5.7/blade)?

[2019-11-11 01:18] klesun commented on #123
Released in [2019.11.11.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/72078)
![image](https://user-images.githubusercontent.com/5202330/68554578-bd0ee500-0431-11ea-8061-1fcb6e59c5a3.png)

Please, let me know if something does not work as expected.

[2019-11-11 01:18] #123 closed

[2019-11-13 01:27] klesun commented on #122
Related to https://github.com/klesun/deep-assoc-completion/issues/77

[2019-11-13 02:05] klesun commented on #122
Released in [2019.11.13.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/72147)

![Uploading image.png…]()

[2019-11-13 02:05] #122 closed

[2019-11-13 03:12] manaphp commented on #122
very good ,,,but if i write the phpdoc in queryinterface, it can not work.

![QQ图片20191113111226](https://user-images.githubusercontent.com/16060165/68730015-80481700-0606-11ea-989a-db90cdf21b63.png)

[2019-11-13 03:14] klesun commented on #122
Did you add the `@template M` and `@param string|array $fields = get_object_vars(new M)` in your `QueryInterface.php` ?

[2019-11-13 03:16] manaphp commented on #122
sorry, i make a mistake, written @tempate in query.php...

[2019-11-13 03:20] manaphp commented on #120
if has this feature, the connect two class is prefect!!!

[2019-11-13 03:23] klesun commented on #120
By the way, would you mind if it is `Magic::get_object_vars_pub()` rather than `get_object_vars_pub()`. Or is it too cumbersome to add `Magic::` to the function all the time?

[2019-11-13 03:31] manaphp commented on #122
* @param string $field =get_object_vars(new Model)[$i]

can not work, only complete '0' from usage

[2019-11-13 03:32] klesun commented on #122
you probably want something like `@param string $field = array_keys(get_object_vars(new Model))[$i]`

[2019-11-13 03:34] manaphp commented on #122
can i use php implemented function?

[2019-11-13 03:36] manaphp commented on #122
if correct, but also has a '0'

[2019-11-13 03:40] klesun commented on #122
Yes, you can use your custom functions as well: (given it's a class method)

![image](https://user-images.githubusercontent.com/5202330/68731231-06993480-05d8-11ea-8583-8500d83445da.png)

[2019-11-13 03:44] klesun commented on #122
I suspect that this `0` comes from the implementation. It it the `get()` function? If so, the `0` completion probably comes from `Query::first()`

[2019-11-13 03:44] manaphp commented on #122
method of others class is ok?

if supports non-class function,  can we write it in .phpstorm.meta.php file?

[2019-11-13 03:45] manaphp commented on #122
yes ,can we ignore all number?

[2019-11-13 03:46] klesun commented on #122
yup

yes, as long as you refer to it with full name including namespace, like `@param $arg \PHPSTORM_META\doStuff()`

[2019-11-13 03:48] manaphp commented on #122
any expression?

[2019-11-13 03:50] klesun commented on #122
I'll look into that, but the preliminary answer is: no, it's complicated, since the idea of the plugin is to suggest _all possible types_, including those that happen only in certain argument signatures

[2019-11-13 03:50] klesun commented on #122
yes

[2019-11-13 03:51] manaphp commented on #122
ok, it is not a  question.

[2019-11-13 03:55] manaphp commented on #120
maybe Magic as a signature or flag is good

[2019-11-13 03:56] klesun commented on #120
cool, `Magic::get_object_vars_pub()` it is then

[2019-11-13 03:56] manaphp commented on #120
but get_object_vars "Returns an associative array of defined object accessible non-static propertiesfor the specified object in scope" why it contains protected property?

[2019-11-13 04:04] klesun commented on #120
Because deep-assoc evaluates `@param int|string|array       $filters =get_object_vars(new static)` in context of the _class where this phpdoc resides_ (`Db/Model.php`). And `protected` properties of an extending child (`City.php`) _are_ accessible from a parent class (`Model.php`) afaik.

[2019-11-13 04:13] klesun commented on #120
Hm, though now that I look at it, the `_aggegate`, `_multiple`, `_order`, etc... look as if they came from `Query.php` rather than `get_object_vars(new static)`... will look further into it

[2019-11-13 04:19] manaphp commented on #120
why  get_class_vars(T) does not works?

[2019-11-13 08:58] klesun commented on #120
Possibly because valid php syntax would be `get_class_vars(Model::class)`, not `get_class_vars(Model)`

[2019-11-13 09:33] manaphp commented on #120
i had tried, but is not ok, not support template `Model`?

[2019-11-13 09:40] manaphp opened #125 "sub class method can not complete use parent class phpdoc"
<?php

class Controller
{
    /**
     * @return array
     */
    private function helpGetAcl()
    {
        return get_class_methods(static::class);
    }

    /**
     * @return array =static::helpGetAcl()
     */
    abstract public function getAcl();
}

class TestController extends Controller
{

    public function getAcl()
    {
        return ['CARET'] // not complete
    }

    public fun

[2019-11-13 09:40] manaphp commented on #125
<?php

class Controller
{
    /**
     * @return array
     */
    private function helpGetAcl()
    {
        return get_class_methods(static::class);
    }

    /**
     * @return array =static::helpGetAcl()
     */
    abstract public function getAcl();
}

class TestController extends Controller
{

    public function getAcl()
    {
        return ['CARET'] // not complete
    }

    public fun

[2019-11-13 09:58] manaphp opened #126 "key is variable,but value is fixed, how to complete?"
[code]

both field names and value key of `rules` method need complete,

[2019-11-13 10:07] manaphp opened #127 "how to get invoker class and method information?"
[code]

[2019-11-13 10:19] manaphp opened #128 "how to complete a string which can get by calling parent method?"
[code]

[2019-11-13 10:53] klesun commented on #126
With something likethi in `\ManaPHP\Model.php` perhaps?
[code]
![image](https://user-images.githubusercontent.com/5202330/68757417-94931080-0614-11ea-9b1c-4f73da035a99.png)

![image](https://user-images.githubusercontent.com/5202330/68757331-70373400-0614-11ea-85e4-3be978dbc43e.png)

[2019-11-13 10:59] #126 closed

[2019-11-13 11:13] klesun commented on #128
I thinks having `@return string = static::class` in the `getTable()` of `Model` should do the trick.

I mgiht consider adding support for [basename](https://www.php.net/manual/en/function.basename.php) (to remove namespace for class name) and [strtolower](https://www.php.net/manual/en/function.strtolower.php) if you want me to.

[2019-11-13 11:23] klesun commented on #128
Though it may be easier to just add some `Magic::fqnToTable(static::class, 'snake_case')`

[2019-11-13 11:36] manaphp commented on #128
can we support php expression?

[2019-11-18 05:04] RobinRadic opened #129 "Providing completion in a php file that returns a array"
I would like to provide completion in a `.php` file (for example like the one below (settings.php))
I do not want to add the definition inside the file itself. I simply want to add a reference towards it.
Here's what i mean:

**settings.php**
[code]

**App/Example.php**
[code]

Is something like this possible?

[2019-11-18 12:03] klesun commented on #129
Hi.
Maybe you would consider defining the return value in a variable? Then you will be able to reference it in phpdoc:
![image](https://user-images.githubusercontent.com/5202330/69051150-2d0e0400-0a0c-11ea-8fe8-af650403b656.png)

[2019-11-18 14:08] RobinRadic commented on #129
I want to use this on any of the config files in laravel/pyrocms
The above notation is not used in any of the config files and require my package (a code completion provider) to modify all those files in such a way. The package is open-source/public so i'd like it to change as little as possible. It would break consistency as well.

[2019-11-18 16:18] klesun commented on #129
Hm, ok, seems reasonable enough.
Released in [2019.11.18.002](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/72552)
![image](https://user-images.githubusercontent.com/5202330/69069815-cd295480-0a2f-11ea-952c-e26a88819d14.png)

[2019-11-18 16:18] #129 closed

[2019-11-18 18:10] RobinRadic commented on #129
That's just awesome. Thanks a lot!

[2019-11-20 16:28] Jurigag commented on #8
@klesun hey, lately i noticed pretty significat thing i would like - in unittests in phpunit there is thing called `@dataProvider` where you can provider data for tests, it would be cool if plugin could autocomplete then this data in method

[2019-11-20 16:32] Jurigag opened #130 "PHPUnit @dataProvider not working"
Not sure if im doing something wrong but this is not working for me:

[code]

[2019-11-20 16:40] klesun commented on #130
I believe it should be:
[code]

[2019-11-21 08:26] Jurigag commented on #130
Well if you say so, will check it, though this is a correct syntax as well.

[2019-11-21 09:29] klesun commented on #130
Are you sure it's _not necessary_? Here are the [phpunit docs](https://phpunit.de/manual/3.7/en/writing-tests-for-phpunit.html#writing-tests-for-phpunit.data-providers), it does not seem like implicitly interpreting array of associatvie arrays from `@dataProvider` as array of single arguments.

The format from the phpunit docs:
[code]
The format in your description:
[code]

If you give me a link d

[2019-11-21 09:29] #130 closed

[2019-11-21 09:33] klesun commented on #130
P.S., if you are actually just trying to use `@dataProvider` for completion reference, not for phpunit tests, you may consider to use this doc instead:
[code]

[2019-11-21 10:57] Jurigag commented on #130
I'm using it for phpunit tests and it works, well i guess then it might be undocumented behavior, thanks anyway.

[2019-12-07 06:10] RobinRadic opened #131 "Customize completion"
Not entirely sure if this belongs in / duplicates #106 so il just do it here.

It would be awesome if it was somehow possible to tweak the completion window stuff.
Like custom icon, tail text, type text, etc.

An example: (by using PHP Toolbox plugin [using this config](https://gist.github.com/RobinRadic/edf387c53cae01b06453ef7496299072))

![image](https://user-images.githubusercontent.com/754732/

[2019-12-07 10:54] klesun commented on #131
Hi.
Do you only want to customize how it looks, or you want to add more options to the completion based on a config file (like "in such and such method provide completion based on that and that")?

If it's just about styling, in your link there are different icons for different keywoards, do you want to stylize each keywoard separately here as well?

Could you post an example of the hypothetical c

[2019-12-07 12:38] RobinRadic commented on #131
Maby something like this? My idea would be to use comments on array keys to define the characteristics of the completion item.
[code]

The exact syntax to use in the array key definition comment could/should be improved a lot.. this is just an example.

[2019-12-07 12:41] RobinRadic commented on #131
Also
[code]

[2019-12-07 12:48] klesun commented on #131
Hm, meta info for display looks pretty easy to implement.
Would you mind if it was actual json (or at least JSON5) in the comments? Less headache parsing it...

Like that:
[code]

[2019-12-07 19:29] RobinRadic commented on #131
Awesome!

Using a JSON/JSON5 sounds good to me. You could also consider using a PHP array, for better consistency with other doc comments?

How about also implementing the `target` meta? info. It is used for `CTRL+click`/`CTRL+b`. Examples from PHP Toolbox:
- file: `"target": "file:///config/database.php",`
- file with line/col: `"target": "file:///config/database.php:23:14",`
- class `"target": "

[2019-12-08 01:57] klesun commented on #131
php array it is then
Released basic support in [2019.12.08.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/)
![image](https://user-images.githubusercontent.com/5202330/70382921-418b4f80-196d-11ea-89de-350b2021c569.png)

Don't have much time left now, will implement the `target` later (few weeks from now maybe).

[2019-12-08 04:22] klesun commented on #131
Regarding reusing the parameter type info in return, I just rolled out an update that allows referencing function arguments in the php doc expression - [2019.12.08.002](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/73979)

It does not reuse the new key metadata comment feature, but there are various other ways specify the relation between the keyword string and the class.

[2019-12-08 05:45] RobinRadic commented on #131
Again i was happily coding, then saw the intellij popup with `deep-assoc-completion` update.
Friggin awesome man.

[2019-12-10 10:55] klesun opened #132 "Language injections in phpdoc after `=`"
It would be so cool if IDE highlighted syntax and typos in php expression like here:
[code]
Something like this:
![image](https://user-images.githubusercontent.com/5202330/70523549-fc714400-1b4b-11ea-9baa-7da7f0a94005.png)

![image](https://user-images.githubusercontent.com/5202330/70523383-9be20700-1b4b-11ea-8228-74615ad782f9.png)

[2019-12-12 14:44] tminich commented on #106
I would love to have this, it's pretty much my only gripe with this excellent plugin 😀
Also pressing Ctrl+B (if pressed in the parameter list when calling the function) tends to hop inside the function to a use, not to the PHPdoc declaration of the key/array, which would probably be preferable.

[2019-12-14 03:33] namibj commented on #102
It would be nice if this could also work with SPL collections (`SplObjectStorage` comes to mind).

[2019-12-22 20:04] RobinRadic opened #133 "Contextual completion"
[code]

So based on the `type`, you would get other `config` keys. I have a [gist](https://gist.github.com/RobinRadic/fac2d3c4aeee1c104567e04304fb0f1d) with the info right here.

Would this be hard to implement?

[2019-12-22 20:15] klesun commented on #133
Pretty hard I think. From brief glance I'm getting a feeling that such specific use case would be more fit for a separate plugin...

[2019-12-22 20:19] klesun commented on #133
The best think I can think of in such situation is something like this:
[code]

[2019-12-22 20:22] klesun commented on #133
Maybe with some `@template` helper function it could have been expressed more context-awarish...

[2019-12-22 20:27] RobinRadic commented on #133
Already implemented it in such a way that it got the keys from all of them.
I'll look into the `@template T` possibilities.
Thanks!

[2019-12-22 20:28] #133 closed

[2019-12-22 20:44] klesun commented on #133
I could theoretically make something like that work:
[code]

[2020-01-06 02:22] klesun opened #134 "Completion from phpdoc `@method` stopped working because phpstorm now supports it"
Hence the syntax tree structure got changed:
[code]
![image](https://user-images.githubusercontent.com/5202330/71791024-182d1480-303c-11ea-98ca-95b58e4dd16d.png)

[2020-01-13 16:39] mrpavlikov opened #135 "Fails to complete when include is used"
Let's say I have stub:

[code]

if i'm trying to use autocomplete in first level dir it works ok:
[code]

but if I try to use it in 2nd level dir it fails, like it tries to include file using this 2nd level dir as `__DIR__` not `stubs/` where definition exists:

[code]

if I change stub's include, it starts working in controller but fails in dependencies:
[code]

[2020-01-13 16:54] klesun commented on #135
lol, thanks, on it

[2020-01-13 17:35] klesun commented on #135
Fixed in https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/75768
![image](https://user-images.githubusercontent.com/5202330/72277123-0bab4c00-363a-11ea-95aa-ee2770b63294.png)
![image](https://user-images.githubusercontent.com/5202330/72277166-254c9380-363a-11ea-8996-51bedd68626f.png)

[2020-01-13 17:45] #135 closed

[2020-01-13 18:38] mrpavlikov commented on #135
Thanks a bunch!

[2020-01-14 14:50] bravoman commented on #134
Ok, so this is the issue and not my database connection or something like that...

I use this type of "hack" everywhere and it seems to be broken (likely because of this issue 😉 )
![image](https://user-images.githubusercontent.com/1729802/72354017-4b7b3d80-36e5-11ea-9711-ce0c413d8cef.png)

Glad to see you picked it up already.

[2020-01-14 14:51] klesun commented on #134
yeah, sorry about that, will fix as soon as I get a bit of free time

[2020-01-14 14:52] bravoman commented on #134
You saved me lots of time and possible bugs already, I'll manage until then :D

[2020-01-14 15:42] bravoman commented on #134
Seems that the following is not working for me anymore as well:

[code]

Not sure if it's related.

[2020-01-14 23:44] klesun commented on #134
Will post release number soon

[2020-01-15 00:30] klesun commented on #134
Fix for the `@method` issue released in [2020.01.15.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/75839)

![image](https://user-images.githubusercontent.com/5202330/72394205-0a634780-373e-11ea-89a8-023b14d7238f.png)

@bravoman, could you, please, give a bit more context to the [`@return array []`](https://github.com/klesun/deep-assoc-completion/issues/134#issuecomment

[2020-01-15 08:30] bravoman commented on #134
The first one.

[2020-01-15 08:32] klesun commented on #134
Does it work now? (the fix supposedly should not have affected the `@return` tag, but still...)

[2020-01-15 08:34] klesun commented on #134
If it still does not work, could you, please file a separate issue with minimal reproducible case and you phpstorm version?

[2020-01-15 08:41] klesun commented on #134
Btw, as a side note, relating your "hack" for db table completion, you may find [this](https://github.com/klesun/deep-assoc-completion/issues/123#issuecomment-552257721) helpful - you can type `@method array getById(int $id) = Magic::dbRow('my_table')` instead of `@method array getById(int $id) = (new \PDO())->query('SELECT * FROM my_table')->fetch(\PDO::FETCH_ASSOC)`

[2020-01-15 09:30] bravoman commented on #134
Works! But it turns out I had an error in my docblock code. Forgot the @ before return 😬 🤦‍♂

You can close this issue.

That's awesome! Seems like something for the Readme.md so everyone can use this 👍

[2020-01-15 10:15] #134 closed

[2020-01-16 17:21] klesun opened #137 "PSALM `key-of`/`value-of` support"
Requested by @andrew-demb
Due to me trying to make it smart and stuff I never managed to finish implementing this stuff for many months, but I'll try my best.
https://github.com/klesun/deep-assoc-completion/issues/77#issuecomment-496803637

[2020-01-16 17:21] klesun commented on #77
The `key-of`/`value-of` support feature request is moving to separate issue - https://github.com/klesun/deep-assoc-completion/issues/137. To make it clear that rest formats support described here are implemented by now.

[2020-01-16 17:21] #77 closed

[2020-01-16 17:28] jhard opened #138 "d-a-c makes PhpStorm's check for missing methods in array callables fail"
Given
[code]
PHPStorm would warn about "doesNotExist" not existing in class A. When deep-assoc-completion is active, it not longer warns.

PhpStorm 2019.3.1
Build #PS-193.5662.63, built on December 19, 2019
Runtime version: 11.0.5+10-b520.17 amd64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Linux 4.15.0-72-generic
GC: ParNew, ConcurrentMarkSweep
Memory: 1981M
Cores: 8

[2020-01-16 17:52] klesun commented on #138
Hm, thanks, I'm taking a look.
Could you, please, lookup, what is the name of this inspection by placing caret n highlighted text and pressing _alt + enter_
(it seems to be disabled in my settings, as I don't see the highlight even without the plugin).

![image](https://user-images.githubusercontent.com/5202330/72549598-ad7ca400-3899-11ea-9f92-f23f7cd98ff4.png)

[2020-01-16 17:54] klesun commented on #138
Is it "Undefined method"?
![image](https://user-images.githubusercontent.com/5202330/72549751-f3396c80-3899-11ea-8826-cb9a3d4c48af.png)

[2020-01-16 17:55] klesun commented on #138
Btw, do you have this "Notify on accessing member of mixed, object, stdClass" enabled? Could it possibly be that you changed it in same session as the removal of the plugin before restart?

[2020-01-16 18:02] klesun commented on #138
Could you, plese, post a complete minimal example of the file?

[2020-01-16 18:04] jhard commented on #138
It's "undefined callback". I mistook it to report things accessed from within callbacks, but it does this.
I had previously thought this to be an issue in PhpStorm (https://youtrack.jetbrains.com/issue/WI-50785), and have enabled and disabled d-a-c with Restarts in between (and without changing anything else) multiple times to make absolutely sure that it's the cause. I had started with an empty p

[2020-01-16 18:08] jhard commented on #138
[code]

Is really all there is ;)

[2020-01-16 18:11] klesun commented on #138
Yeah, thanks, reproduced, will deal with it. "Undefined callback" inspection was disabled in my settings.

Most likely caused by https://github.com/klesun/deep-assoc-completion/issues/115

[2020-01-16 21:23] klesun commented on #138
Fix released in [2020.01.16.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/75960)
![image](https://user-images.githubusercontent.com/5202330/72563678-dd867000-38b6-11ea-8d9a-c5bfb81a1398.png)

[2020-01-16 21:23] #138 closed

[2020-01-17 02:58] keomaborges opened #139 ""DeepAssocCbtr has been compiled by a more recent version of the Java Runtime (class file version 55.0), this version of the Java Runtime only recognizes class file versions up to 52.0""
I'm not sure if it's really a bug or an issue in my environment.

`com.intellij.diagnostic.PluginException: While loading class org.klesun.deep_assoc_completion.entry.DeepAssocCbtr: org/klesun/deep_assoc_completion/entry/DeepAssocCbtr has been compiled by a more recent version of the Java Runtime (class file version 55.0), this version of the Java Runtime only recognizes class file versions up to

[2020-01-17 08:01] klesun commented on #139
Oh, sorry for the trouble, it seems like I started compiling releases for Java 11 recently, but your phpstorm is still on Java 8.

I'll recompile and release for Java 8 within few hours.

A quickfix till then for you would probably be to update phpstorm to something near 2019.3.1 (193.5662.63)

[2020-01-17 10:33] klesun commented on #139
Hm, strange, I just installed the smallest phpstorm version supported by current release of the plugin - PhpStorm 2019.2.3, and it seems to run on java 11 already...

Could you tell me what are your phpstorm (_Help_ -> About) and deep-assoc-completion (_File -> Settings -> Plugins -> deep-assoc-completion_) installed versions?

Could it be that you are running phpstorm [below 2019.1](https://intel

[2020-01-19 15:04] klesun opened #140 "Support php v7.4 arrow functions"
At last php has a [usable syntax](https://wiki.php.net/rfc/arrow_functions_v2) for anonymous functions!

[code]

![image](https://user-images.githubusercontent.com/5202330/72683162-87dfdc80-3add-11ea-8c29-27875fa5bc1d.png)

[2020-01-19 22:12] keomaborges commented on #139
Hi. Thank you for the reply and support. The versions are:

PHPStorm 2019.3.1
deep-assoc-completion 2020.01.16.001

I installed the Choose Runtime plugin and could see PHPStorm is using Java 8. Should I try another version in this list?

![Screenshot_20200120_090949](https://user-images.githubusercontent.com/8712262/72689359-bf459c00-3b64-11ea-8ef7-cd17d22b0fab.jpg)

[2020-01-20 07:19] klesun commented on #139
Hi, thank you too for your reply.
Yes, changing to java v11+ should fix the issue for you. Usually IDEA recommends using their [own bundled jre](https://confluence.jetbrains.com/display/JBR/JetBrains+Runtime) (jbsdk11*), but apparently on archlinux it uses system jre by default for some reason.

A funny thing, I googled "jetbrains bundled jre" and one of first links was [this page](https://aur.arc

[2020-01-20 07:26] klesun commented on #139
I'll try to compile with target java v8 in the next release

[2020-01-20 08:56] klesun commented on #139
Here is a beta of the next release: [2020.01.20.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/76104), you can manually install it, it should work with jre 8.

[2020-01-20 10:09] amarianski opened #141 "Magic::dbRow in @return"
When I have a method which returns associative array of many rows constructs like this: array [$anyKey=>Magic::dbRow("table")] work perfectly. However when trying: @return Magic::dbRow("table") I get no hints and:
![obraz](https://user-images.githubusercontent.com/12115484/72717953-4bf85600-3b75-11ea-8e74-a776740986aa.png)

[2020-01-20 10:11] klesun commented on #141
As a quick workaround, does any of following formats work?
[code]

[2020-01-20 10:12] klesun commented on #141
I remember there were some issues in writing class name right after the `@return` as phpstorm interpreted it as the return type being this class...

[2020-01-20 10:14] amarianski commented on #141
All of them work perfectly :) Great job I really appreciate your plugin! It would be nice if there is a page with documentation of everything possible.

[2020-01-20 10:15] klesun commented on #141
https://github.com/klesun/deep-assoc-completion/issues/63

[2020-01-20 10:36] #141 closed

[2020-01-21 00:22] keomaborges commented on #139
This new release works fine. I tested with the same runtime it was set and I got no error messages. Thank you.

[2020-01-21 07:55] #139 closed

[2020-01-21 11:28] CthulhuDen opened #142 "Does not provide tips for arguments list"
Hello.

So when I have this code:
[code]
and cursor is positioned inside offsetSet() parenthesis, I can press ctrl-p and receive arguments tooltip (or whatever it's called):
![Снимок экрана от 2020-01-21 14-23-09](https://user-images.githubusercontent.com/3912367/72800981-9521d600-3c59-11ea-8fcf-a230d4f7998f.png)

However, if I refactor into this:
[code]
although I still have method name autocompl

[2020-01-21 11:39] klesun commented on #142
Hi.

Hm, the _Ctrl + P_ action is provided by phpstorm itself, which sadly is [not aware](https://github.com/klesun/deep-assoc-completion/issues/33) of my plugin types.
I could mimick the _Ctrl + P_ popup, though =-D

There is this dangerous feature in plugin settings: _File -> Settings -> Languages & Frameworks -> PHP -> deep-assoc-completion -> Enable BG Type Provider_ which makes plugin pass pl

[2020-01-21 11:41] klesun commented on #142
I could probably make the _Enable BG Type Provider_ functionality configurable to make it less harmful. It currently _deeply_ resolves every expression in the file each time you type a letter - could make it shallow, with 5 depth limit instead of 50 or something...

[2020-01-21 11:55] klesun commented on #142
Oh, lol, sorry, I've hidden it some time ago.
I'll display it back once I implement the shallow type resolution. Since this is not the first time someone asks about built-in types, I gues this functionality _is_ needed after all.

[2020-01-21 15:18] ktomk commented on #63
Do you have a hint for hinting the return value of a function/method that is a generator / returning a Generator which generates an array (list) each is an array (list) which would map what I've read from the Psalm syntax like so:

[code]

so to say many of them. The exemplary code of the generator would look like:

[code]

And here is the usage example:
[code]
(simplified example, point in case i

[2020-01-21 15:51] klesun commented on #63
@ktomk I have a strong feeling that what you are looking for is [templates syntax](https://psalm.dev/docs/annotating_code/templated_annotations/#builtin-templated-classes-and-interfaces):
[code]

[2020-01-24 05:30] RobinRadic opened #143 "Disable completion"
Is there a way to disable completion for method arguments?

Otherwise, a php annotation would be nice.
[code]

[code]

[2020-01-24 07:26] klesun commented on #143
Hi. There is no such functionality yet. I can add it.
Do you want method arguments completion disablable only per function basis, or should there also be an option in settings to disable it everywhere?

[2020-01-24 22:56] RobinRadic commented on #143
I'd like to disable it on a per function basis. Ideally both as a method docblock and a inline docblock:
[code]
[code]

[2020-01-24 23:07] RobinRadic commented on #143
I think it makes sense to also use it for variables and properties, if that's possible
[code]

[2020-01-25 07:20] klesun commented on #143
Ok, got it. Will take some time, but I'll implement this.

[2020-01-25 07:29] klesun commented on #143
by
[code]
You want to only disable argument completion? Or completion from this function result, like `$this->create()['<caret>']` should be disabled as well?

If you don't want result completion be disabled, I think the name of this tag should be something more like `@noDeepAssocUsageBasedCompletion`.

[2020-01-25 12:51] ktomk commented on #63
Thanks for this example, it does work as well and the result looks the same: Your Phpstrom extension provides the correct hints, it's just that Phpstorm can't infer the correct type for `$job`. So probably it would also good to learn about what Phpstorm can actually parse for "typed" array return values for me to make this gap smaller.

[2020-01-25 19:58] klesun commented on #63
@ktomk note, there is an [open issue](https://youtrack.jetbrains.com/issue/WI-30419) with `list()` in `foreach()`, it's likely related to what you are experiencing. You can upvote it - there will be 4 of us ;)

[2020-01-25 22:17] RobinRadic commented on #143
maby?
`@noDeepAssoc` for all
`@noDeepAssocArgumentCompletion`
`@noDeepAssocUsageCompletion`

[2020-01-25 22:19] klesun commented on #143
Yeah, sounds good. Though inside the plugin _argument completion_ and _usage based_ completion is same thing.

[2020-01-25 22:20] klesun commented on #143
At least name-wise

[2020-01-25 22:20] RobinRadic commented on #143
I don't want to overcomplicate things for you, I'm already happy with just `@noDeepAssoc` disabling _all_ deep assoc completion

[2020-01-25 22:22] klesun commented on #143
ok, cool

[2020-01-26 23:58] klesun commented on #140
Added basic support:
![image](https://user-images.githubusercontent.com/5202330/73143897-f9a0c300-40a7-11ea-87ca-4e3aba0d9f93.png)
Without argument inference for now

[2020-01-26 23:58] #140 closed

[2020-01-28 12:59] brego opened #144 "Callable class/method array reference broken in 2020.01.16.001"
Hello!

It would appear that you went a bit too far in your fix for issue https://github.com/klesun/deep-assoc-completion/issues/138.

Given

[code]
And
[code]

Prior to `2020.01.16.001`, which solves https://github.com/klesun/deep-assoc-completion/issues/138, you could navigate from `[Foo::class, 'bar']` to method definition, and in the opposite direction, see all of the references from the defin

[2020-01-28 13:01] klesun commented on #144
Oh, sorry, that was not intended. Thanks for vigilance =-D. Will fix asap.

[2020-01-28 13:18] Jurigag opened #145 "Add curly braces when using method autocomplete in strings"
When using method completion in strings it adds it without `{}` causing it to doesn't work. How about automatically inserting `{}`?

![image](https://user-images.githubusercontent.com/10086991/73267301-0d981200-41d9-11ea-8b5c-5c3ebea6f1e5.png)

[2020-01-28 13:19] klesun commented on #145
you guys are on a rampage today =-D

[2020-01-28 13:19] klesun commented on #145
yeah, I guess it can be done

[2020-01-28 14:21] klesun commented on #144
Fixed in [2020.01.28.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/76721)
![image](https://user-images.githubusercontent.com/5202330/73271864-0decd900-41ea-11ea-95a8-68ae9b908eea.png)

[2020-01-28 14:36] brego commented on #144
Thank you very much for your quick response @klesun!

You fixed the resolution of instanciated references, but not _non-instanciated_. In the following code, there's no instance for `Asd`, but the array is callable.

[code]

[2020-01-28 14:37] klesun commented on #144
Oh, sorry, you're right, my bad

[2020-01-28 16:34] klesun commented on #144
Corrected static method references in [2020.01.28.002](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/76727)
![image](https://user-images.githubusercontent.com/5202330/73283495-d8e98200-41fb-11ea-828a-c6afadc53748.png)

[2020-01-28 16:34] #144 closed

[2020-01-29 08:44] tminich commented on #63
I've noticed that dac is doing some inference for non-array parameters as well, like in this example
![2020-01-29 094014](https://user-images.githubusercontent.com/51162280/73340732-936c9980-427b-11ea-9c3b-72a77fb5a439.jpg)

Is there a way to achieve this effect via phpdoc? Basically annotating 'this parameter should only be/ususally is one of these'.

[2020-01-29 08:52] klesun commented on #63
@tminich, you can do it [like this](https://github.com/klesun/deep-assoc-completion/issues/50):
[code]
![image](https://user-images.githubusercontent.com/5202330/73341493-64f3bc00-4285-11ea-991a-da824f40e0ab.png)

[2020-01-29 09:30] tminich commented on #63
Awesome, thanks a lot

[2020-02-04 05:56] Falseclock commented on #138
@klesun
that's bad fix for me cause used "self" notation to remove warns that protected methods are not used

[code]

[2020-02-04 08:11] klesun commented on #138
@Falseclock, note that in your example you are referencing non-static method `contactPage()` statically via `"self"`. If you use:
[code]
It will be much easier for the plugin to understand your code.

[2020-02-04 08:17] klesun opened #146 "`self` method array references should be valid for non-static methods called in non-static context"
Cause you can't use `$this` when defining an object field for example as pointed out in https://github.com/klesun/deep-assoc-completion/issues/138#issuecomment-581755218.

[2020-02-04 08:21] klesun commented on #138
@Falseclock, sorry about that, filed a separate issue https://github.com/klesun/deep-assoc-completion/issues/146.

Would you mind using `self::class` instead of `'self'`? Attempts to resolve any _pair of strings_ as an array as a method may cause performance issues...

[2020-02-04 10:34] klesun commented on #146
Released in [2020.02.04.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/77286)
![image](https://user-images.githubusercontent.com/5202330/73737093-a0d9c600-474a-11ea-8b15-bfc43398019a.png)

Hope everyone will be happy this time =-D

[2020-02-04 10:34] #146 closed

[2020-02-17 12:40] swayok opened #147 "Exceptions in Blade templates"
Hi. I'm getting many exceptions with same trace (only tree.length and psi.length=17 differ):
[code]

[2020-02-17 12:42] klesun commented on #147
Hi, thanks for the report. Could you, please, post a minimal blade file that reproduces the issue?

[2020-02-17 12:54] swayok commented on #147
Here it is. I'm using many custom blade directives added to `Settings -> Languages & Frameworks -> PHP -> Blade -> Directives`. Maybe it is related.

[code]

[2020-02-17 12:55] klesun commented on #147
Thanks a lot. On it...

[2020-02-17 13:32] klesun commented on #147
I hope this release will fix your error - [2020.02.17.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/78420)

Did not manage to reproduce the issue without the directives - just added a try catch for the built-in function error. It appears to me as if issue is in the blade plugin itself.

[2020-02-17 13:34] #147 closed

[2020-02-19 09:22] pbowyer commented on #124
Having this for Twig would be awesome please!

Would you like a sample project with this set up for Twig?

[2020-02-19 09:22] klesun commented on #124
@pbowyer, yes please!

[2020-02-23 23:33] klesun commented on #124
I'm still having a hard time getting what is ment by the "path string" here, but, @pbowyer could it be that what you are asking it this - https://github.com/klesun/deep-assoc-completion/issues/119 ?

[2020-02-24 03:32] manaphp commented on #124
"user/login" "user/logout"

[2020-02-24 08:45] pbowyer commented on #124
@klesun I saw #119 but it isn't working to autocomplete my Twig templates, so I assumed it isn't working fully.

Thanks for the reminder, it's been a busy weekend. I'll try and get a sample project done this week.

[2020-02-28 08:22] artyuum opened #148 "Fatal error"
Hi,

I'm not sure if someone has already mentioned it but from time to time I have an error that pops up and I don't even know how to reproduce it nor do I know what's wrong. Here is the stacktrace:
[code]

[2020-02-28 08:24] klesun commented on #148
Thanks you very much. Looks like I'm missing a nullpointer check, should be easy to fix. Sorry for the trouble.

[2020-02-28 08:51] artyuum commented on #148
No problem. Thank you for this awesome plugin.

[2020-02-28 09:20] klesun commented on #148
Fixed in [2020.02.28.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/79511)

Caused by changes introduced in https://github.com/klesun/deep-assoc-completion/issues/140

[2020-02-28 09:20] #148 closed

[2020-04-08 07:35] mialex opened #149 "PHPSTORM_META does not work as expected"
Hi, I'm trying to use **PHPSTORM_META** to be able to set up autocomplete options. I have a pretty huge set of different options, as I have some factory below that, so I want to simplify the list as much as possible by moving some options to the variables.

Here is my class

[code]

And this is my meta-file

[code]

The only option which works is the **window**, where sub-values were set up explic

[2020-04-08 07:47] klesun commented on #149
Hi. I'll take a look now.

[2020-04-08 07:59] klesun commented on #149
Hm, `chair` seems to work for me too:
![image](https://user-images.githubusercontent.com/5202330/78759194-f0758180-7987-11ea-87ae-b369b942f488.png)

I'll find out why `argumentsSet()` does not work.

[2020-04-08 08:41] mialex commented on #149
Thank you for the clarification!

Yes, indeed the issue was due to the duplicate of the function name. I started using meta file when that had to be in the root folder of the project and metafile was a part of the de[endancy, I made a workaround for file content sync. Dut to that I had duplicates for the function.

Thx one more time.

[2020-04-08 08:41] #149 closed

[2020-04-14 15:50] klesun commented on #106
It took a while, but here is the update: [2020.04.14.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/83638)

![image](https://user-images.githubusercontent.com/5202330/79245452-c8eb5100-7e80-11ea-8470-4bc78016a6b6.png)

[2020-04-14 15:50] #106 closed

[2020-04-14 15:51] klesun commented on #104
`from usage` -> _actual type_ fix released - [2020.04.14.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/83638)

[2020-04-14 15:55] klesun commented on #149
Released an update that makes it possible to use function even if it's declared multiple times in the project - [2020.04.14.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/83638)

[2020-04-17 12:34] gebi84 opened #150 "array completion"
hi, thx for the great plugin.

here on what I struggle

[code]

[2020-04-17 12:41] klesun commented on #150
Hi.
Hm, I think I simply did not think of such use case where you would re-assign keys in an existing structure. Sound like a reasonable feature request.

I'll try to get to it when I have some free time. Though for nearest few weeks I'll be heavily occupied with the vscode port implementation of the plugin.

You mean you are trying to describe `$GLOBALS` with a `@var` phpdoc?

[2020-04-17 13:03] gebi84 commented on #150
i work with the cms contao, here all config lives in $GLOBALS (https://docs.contao.org/dev/reference/dca/config/).
For better readability i split the array in multiple chunks.

yes to define the structure of the contao dca array for autocompletion

[2020-04-17 13:07] klesun commented on #150
Ok, thanks. I'll look into making it possible to read the doc on `$GLOBALS` var when I get to this issue. It's most likely not resolved out of the box due to `$GLOBALS` being a special var.

[2020-04-21 07:33] klesun opened #151 "Place caret after brackets after completing array key"
Proposed by Apostol Marinov in jetbrains repo reviews

[2020-04-22 13:59] pretzlaw opened #152 "Implement WordPress-like documentations"
As seen on https://cloud.githubusercontent.com/assets/5202330/26426602/0f72f554-40e2-11e7-8873-30b873310746.png this PHPStorm extension can make use of doc comments:

![](https://cloud.githubusercontent.com/assets/5202330/26426602/0f72f554-40e2-11e7-8873-30b873310746.png)

Unfortunately there are different type of writing how an array is nested:

![grafik](https://user-images.githubusercontent.com

[2020-04-22 14:49] klesun commented on #152
Thanks, sounds like a very good feature. I'll try to get to it withing few weeks.

[2020-04-22 15:15] klesun commented on #152
Lol, there was actually almost identical format supported for ages:
https://github.com/klesun/deep-assoc-completion/issues/37

I guess, I'll just tweak it a bit...

[2020-04-22 16:15] klesun commented on #152
Basic support released in [2020.04.22.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/84483)

![image](https://user-images.githubusercontent.com/5202330/80005280-09278080-84cc-11ea-9cb2-ec9f8643c3c1.png)

One thing I could not figure out yet, how do you describe an array of associative arrays with this format? Like:
[code]
Is this what you use the _nested_ format you li

[2020-04-24 11:42] pretzlaw commented on #152
Yee. Something like that. There are some nested things but not documented in the "usual doc-comment" way. It is more like "See Yaba\Daba::doo()" which then describes the next level.

For example:

[code]

Hope this gives an insight on nesting. There are several references saying "See ..." so the nested array/structure is documented somewhere else. Fingers crossed that this is can be parsed, follow

[2020-04-24 12:15] klesun commented on #152
Thanks. Sorry, looks like I misunderstood what you meant by "nesting". What I wanted to know was the official format WordPress uses to describe an array of arrays, but I guess I better just google this out myself.

I did not initially grasp that by `following a "See WP_Meta_Query" keyword` you meant to do this automagically. To be honest, I'm not sure that parsing such free-form part of the commen

[2020-04-29 07:02] pretzlaw commented on #152
We thought so too, but having a pattern or finding a well established could do so.
Perhaps you can make such behaviour optional (like providing a regexp in the settings).
There are round about 40 references to different other places where the documentation goes on and they surely change from time to time.

The idea with .phpstorm.meta.php is absolutely charming, but needs a lot of hands on an will

[2020-04-29 08:55] klesun commented on #152
Sounds great! Though I'll be able to get to it only in few weeks, when I'm not so busy with the [vscode](https://github.com/klesun/deep-assoc-completion-vscode) port

[2020-05-11 08:24] RobinRadic opened #153 "2 classes with the same FQDN does not auto-complete"
Once the plugin finds 2 classes with the same FQDN, it does not auto-complete.
An example:

**composer.json**
[code]
**app/FormBuilderExamples.php**
[code]
**vendor/anomaly/streams-platform/src/Ui/Form/FormBuilder.php**
[code]
**overrides/Anomaly/Streams/Platform/Ui/Form/FormBuilder.php**
[code]

**app/MyFormBuilder.php**
[code]

[2020-05-11 09:09] klesun commented on #153
Thanks a lot for so detailed test case. Reproduced, will fix soon.

[2020-05-11 10:43] klesun commented on #153
Fixed in [2020.05.11.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/86004)

![image](https://user-images.githubusercontent.com/5202330/81553197-64db8000-938d-11ea-90ee-6baafe906b4e.png)

[2020-05-11 10:43] #153 closed

[2020-05-11 12:15] RobinRadic commented on #153
Many, many thanks @klesun !

[2020-06-06 14:47] klesun commented on #151
Released in [2020.06.06.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/88353)

[2020-06-06 14:47] #151 closed

[2020-06-07 23:31] ussher opened #154 "Table name assigned to a variable"
When the table name is hard-coded into the SQL query all the deep-associations do appear in my variables, however if the table name is fetched via a function and assigned to a variable then then column names are not present.

Screenshot of some code where the associations do appear
<img width="1181" alt="appear" src="https://user-images.githubusercontent.com/1817411/83982521-291ee080-a962-11ea-8fb

[2020-06-07 23:56] klesun commented on #154
Hi.

I'm not sure, but I think there was a support for using such writing:
[code]
(concatenation instead of vars directly inside `"` quotes)

You may want to try it out. I'll dig up the code later, if it does appear to be implemented already and it's just a matter of format, I'll add support for `"... $tbl ..."` to my TODO list.

[2020-06-08 00:05] ussher commented on #154
Thanks klesun, That does not appear to have an effect though.  Even if I hard-code the table name to the variable the result is still limited values.  I was hoping for some type of inline meta doc-block thing et:
`$tbl = jrCore_db_table_name('jrPawzloveReservation', 'reservation_type'); /* @table-name jr_jrpawzlovereservation_reservation_type */`
So that deep-assoc could understand what the value

[2020-06-08 07:46] klesun commented on #154
There is indeed a [phpdoc format](https://github.com/klesun/deep-assoc-completion/issues/123#issuecomment-552257721):
[code]

It may work for your case.

I'll take a deeper look into this issue later, when I have some time. I think table name from var was supposed to work even without a doc.

[2020-06-18 15:51] tminich commented on #106
Is this currently broken? It doesn't seem to work here any more.
![broken](https://user-images.githubusercontent.com/51162280/85043100-489ce100-b18c-11ea-84ce-1f3526446eb8.jpg)

[2020-06-18 15:58] klesun opened #155 "Check `from usage` in WordPress phpdoc argument completion"
![image](https://user-images.githubusercontent.com/5202330/85043938-a41f9c80-b195-11ea-9b34-db7e9998b237.png)

Reported by @tminich

[2020-06-18 15:59] klesun commented on #106
Hi. I suspect that's related to the wordpress doc format. I'll check whether I parse type info from this format - https://github.com/klesun/deep-assoc-completion/issues/155

[2020-06-18 16:04] klesun commented on #155
Related:
- #37
- #152

[2020-06-18 23:47] klesun commented on #155
Released in [2020.06.19.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/89381)

![image](https://user-images.githubusercontent.com/5202330/85082333-4613a900-b1d7-11ea-822a-597ef51d01b3.png)

[2020-06-18 23:47] #155 closed

[2020-06-18 23:48] klesun commented on #106
@tminich fixed in [2020.06.19.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/89381)

![image](https://user-images.githubusercontent.com/5202330/85082333-4613a900-b1d7-11ea-822a-597ef51d01b3.png)

[2020-06-19 07:26] tminich commented on #106
I could swear the second one wasn't showing the comments for me yesterday, that was what I was referring to. But it is working now, thanks a lot =D

[2020-06-19 09:25] tminich opened #156 "Array += seems to be treated as ="
Not sure if this is related to an existing issue, but it looks as if using
[code]
(in regards to completion help) is treated like
[code]
instead of the (as far as I know) correct way (```$array = $array+ [];```)
See these screenshots:
![plus_equals_1](https://user-images.githubusercontent.com/51162280/85117332-007ace80-b21f-11ea-9c1e-e2d6b53b0da5.jpg)
![plus_equals_2](https://user-images.githubuse

[2020-06-19 09:28] klesun commented on #156
Hi. Thanks, good point. Time for one more update =3
(will try to get to it in few hours)

[2020-06-19 10:55] tminich opened #157 "Support for new array members"
Not sure if this is a feature request, bug or consequence of me doing things weird XD

I used psalm/phan syntax to define an array of arrays of a certain format, which, when accessing the top array works fine:
![array1](https://user-images.githubusercontent.com/51162280/85125269-974d8800-b22b-11ea-8c38-d05b4eceea98.jpg)
If I try to add a new member to the array, I do not get any completion:
![arra

[2020-06-19 11:26] klesun commented on #157
Actually, there was almost exact same request by another user:
https://github.com/klesun/deep-assoc-completion/issues/150

Thanks was bringing this up, almost forgot about it. Conveniently I got a long weekend ahead, hopefully will implement it soon.

[2020-06-19 11:49] klesun commented on #156
Fix released in [2020.06.19.003](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/89438)

![image](https://user-images.githubusercontent.com/5202330/85129621-13e86280-b23c-11ea-93ca-2df64f0bc530.png)

![image](https://user-images.githubusercontent.com/5202330/85129630-1a76da00-b23c-11ea-8f2a-a4cf9057b6ab.png)

[2020-06-19 11:49] #156 closed

[2020-06-19 15:16] tminich commented on #137
I didn't want to put more work on your shoulders over the weekend as you have already been incredibly helpful today, but there are a few things not quit working with the psalm syntax as far as I understand it though, do you want me to add them to this bug or open a new one?

[2020-06-19 15:32] tminich commented on #137
Since I'm about to leave work I'll leave it here for now:
This works:
[code]

These all break parsing in some way but, as far as I understand, are valid PSALM syntax:
[code]

[2020-06-20 11:55] klesun opened #158 "Support `@psalm-type` and `@psalm-import-type` type alias phpdocs"
See https://github.com/vimeo/psalm/pull/2924

[2020-06-20 14:13] klesun opened #159 "Check `from usage` in PSALM based completion"
![image](https://user-images.githubusercontent.com/5202330/85203995-04d7e200-b31a-11ea-8865-7971af9c035c.png)

[2020-06-20 14:37] klesun commented on #157
Released in [2020.06.20.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/89496)

![image](https://user-images.githubusercontent.com/5202330/85204326-65681e80-b31c-11ea-9d53-82699f599c2c.png)

(noticed that for PSALM there is same `from usage` issue as in #155 - filed into a separate issue - #159)

[2020-06-20 14:37] #157 closed

[2020-06-20 14:45] klesun commented on #150
Support for the `$test` use case released in [2020.06.20.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/89496)

![image](https://user-images.githubusercontent.com/5202330/85204497-a14fb380-b31d-11ea-801b-65b95635eebd.png)

Support for `$GLOBALS` will have to wait some time...

[2020-06-24 07:55] klesun commented on #137
Lol, thanks, did not even knows PSALM had a [syntax for function types](https://psalm.dev/docs/annotating_code/type_syntax/callable_types/). Will add basic support shortly.

[2020-06-24 08:01] tminich commented on #137
Thanks a lot. PSALM syntax, thanks to being able to use @psalm-X tags, currently seems to be the best way to get deep-assoc-completion hints without PHPStorm showing them weirdly and/or destroying the formatting when you use it's auto-formatting =)

[2020-06-24 10:03] klesun commented on #137
@tminich basic support for `callable` and rest constructs from your example released in [2020.06.24.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/89771)

![image](https://user-images.githubusercontent.com/5202330/85535318-bcbb0700-b61a-11ea-9aa7-5011c3c6387b.png)

(I did not implement anything smart for the completion of `callable` arguments when you pass an anonymous

[2020-06-24 13:09] tminich commented on #137
Thanks a lot. For me that's enough, I just didn't want deep-assoc-completion's parsing break on valid PSALM syntax.

[2020-06-25 11:19] tminich opened #160 "@psalm-property not working correctly"
I'm having issues with @psalm- versions of @property/@param with not getting completion (or incomplete completion that I'm not sure how it's even generated).
Unfortunately I haven't been able to track down a minimal example for @param/@psalm-param, as soon as I try to simplify it starts to work. There is a simple example for @property/@psalm-property though:

![psalm](https://user-images.githubuse

[2020-06-25 11:22] klesun commented on #160
Thanks, I'll take a look. Very likely that I just do not recognize the `@psalm-property tag. I think I only added support for few of `@psalm-*` tags, will take a look.

[2020-06-25 11:24] klesun commented on #160
Yeah, just the `@psalm-param` tag is recognized currently. Hopefully it will be an easy fix now...

[2020-06-25 11:27] klesun commented on #160
For reference: https://psalm.dev/docs/annotating_code/supported_annotations/#psalm-specific-tags

[2020-06-25 11:49] klesun commented on #160
Fixed in [2020.06.25.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/89893)
![image](https://user-images.githubusercontent.com/5202330/85714106-c617a280-b6f2-11ea-8aef-658aa86e5fb2.png)

[2020-06-26 09:17] tminich commented on #160
Thanks, but there is one issue, it stops working if you have both @property and @psalm-property for the same property. The whole point of @psalm-property is to override @property so parsers that understand PSALM syntax use @psalm-property and parsers that don't ignore unfamiliar syntax and 'fall back' to @param.

[2020-06-26 09:20] klesun commented on #160
oh,shoot, I had a feeling this typo in my test case will let me know about it again...

[2020-06-26 10:23] tminich opened #161 "Not getting suggestions // argument array keys with `@psalm-param`"
This is a follow up on the issues I mentioned in issue #160
I am aware this is a horrible bug report, but essentially I'm at my wits end, so I'm just going to post what I have, maybe with your knowledge of the internals of the plugin you might have an idea.

Basic setting is I'm using Laravel with laravel-ide-helper and need auto-completion defined in comments in a private composer module I wrote.

[2020-06-26 11:39] klesun commented on #160
Fixed for cases when there are both `@property` and `@psalm-property` in [2020.06.26.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/update/90098)

![image](https://user-images.githubusercontent.com/5202330/85853118-a3e95780-b7ba-11ea-9024-ae81c4315852.png)

(hope nobody gets annoyed by all these updates I spammed last few days...)

[2020-06-26 11:39] #160 closed

[2020-06-26 11:45] klesun commented on #161
Seems like either `@psalm-param` is not counted in argument array keys completion like `@param` is. I shall take a look when I have some free time.

[2020-06-26 11:59] tminich commented on #161
Actually it looks like it's an issue with PSALM syntax in general and class methods.
[code]
It works inside the method, but not when the method is called (in contrast to php-style syntax, which works in both cases).

[2020-08-04 13:23] zmitic opened #162 "Stubs are ignored"
First; thanks for this plugin. Autocomplete works absolutely amazing even with generics (that I use a **lot**).

The main problem I noticed is that stubs I have (for Symfony forms) do not work. But with LSP plugin, they work. I even disabled it to make sure there are no conflicts.

This is real stub (shortened):

[code]

and controller (I left only the important parts):

[code]

Do I need to confi

[2020-08-04 13:47] klesun commented on #162
Hi. Thanks for the report, seems like I broke `@template` support in some of the recent releases. Will take a look tonight.

P.S. may I ask, what LSP are you using? I did not know there was something decent for static typing in phpstorm...

[2020-08-04 14:06] zmitic commented on #162
@klesun I use this in PHPStorm: https://psalm.dev/docs/running_psalm/language_server/

But it does have few problems; selecting suggestion from generic param is duplicated (undo removes the other one), can't ctrl+click to jump to method, not so easy to start it on bigger projects (user has to close all files and restart PHPStorm)...

Using array objects does not offer suggestions but at least it s

[2020-08-04 17:39] klesun commented on #162
Hm, duplicates could indeed possibly be the cause. Checking...

[2020-08-05 05:59] klesun opened #163 "Support PSALM function type signatures"
Like this one:
[code]
There were docs on their page somewhere...

[2020-08-05 07:05] andrew-demb commented on #163
Here it is :)
https://psalm.dev/docs/annotating_code/type_syntax/callable_types/

[2020-08-05 07:11] klesun commented on #162
I found several problems in the plugin:
- `@psalm-return` does not work, probably I don't parse it correctly because it's contents are not highlighted
- class `@template` generics don't seem to be interpreted for right class (current instead of the one in which method is located)

Guess it's a good opportunity to revive the development for a few weeks...

[2020-08-05 07:19] zmitic commented on #162
LazyValue class uses ``@psalm-return`` and it works flawless.

Later in the day I will try to exclude original files and see if having stubs only would help.

[2020-08-05 07:32] klesun commented on #162
Not sure, but I think that LazyValue works because it infers type info from `private $value;` (given that you return it somewhere inside the `getValue` implementation)

[2020-08-17 21:11] klesun commented on #162
As a temporary fix, setting _File -> Settings -> Languages & Frameworks -> PHP -> deep-assoc-completion -> Pass args to interface implementations_ to true should fix the issue I think.

I'll think whether performance decrease in framework-heavy projects may be avoided with making generics work in this use case without setting the flag...

[2020-08-17 21:27] klesun commented on #7
![image](https://user-images.githubusercontent.com/5202330/90446158-95982780-e0e9-11ea-8b79-b7215d68a602.png)

[2020-08-17 21:38] klesun commented on #7
![image](https://user-images.githubusercontent.com/5202330/90447030-24f20a80-e0eb-11ea-986f-08beea2ea429.png)

[2020-08-17 22:08] klesun commented on #162
Fixed in [2020.08.18.001](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/versions/stable/94762)

![image](https://user-images.githubusercontent.com/5202330/90449042-448b3200-e0ef-11ea-9b78-7cfb566cefa1.png)

(please, let me know, if this happen to not solve your issue)

[2020-08-17 22:34] zmitic commented on #162
It works!

![image](https://user-images.githubusercontent.com/1964158/90450473-1b1bd780-e0ea-11ea-9482-025cd37c8570.png)

Although it doesn't work when ``psalm-`` prefix is used

![image](https://user-images.githubusercontent.com/1964158/90450526-3edf1d80-e0ea-11ea-943b-bdf105b4ca3b.png)

it doesn't matter; I will be soon changing all my stubs and see how it works.

---

Thank you **a lot**

[2020-08-17 22:37] klesun commented on #162
Oh, right, thanks, almost forgot there was one more issue with `@psalm-return` parsing

[2020-08-17 22:46] zmitic commented on #162
There is one minor issue, probably irrelevant. Because of nested-set requiring its own parent repository, I put code in traits like this:

[code]

Trait itself:

[code]

No results:

![image](https://user-images.githubusercontent.com/1964158/90451401-06404380-e0ec-11ea-8a7a-fec5cfab19aa.png)

[2020-08-17 22:52] klesun opened #164 "Template generics in PSALM inheritance"
Quoting @zmitic:
______________
There is one minor issue, probably irrelevant. Because of nested-set requiring its own parent repository (not one from example under), I put code in trait like this:

[code]

Trait itself:

[code]

No results:

![image](https://user-images.githubusercontent.com/1964158/90451401-06404380-e0ec-11ea-8a7a-fec5cfab19aa.png)

[2020-08-17 22:54] klesun commented on #162
Wow, did not even know PSALM has format for delegating generics to traits.

Filed in a separate issue: https://github.com/klesun/deep-assoc-completion/issues/164

[2020-08-17 23:15] klesun commented on #110
While this would be pretty neat to have, I objectively have not enough time anymore for such small nice-to-have features.

[2020-08-17 23:15] #110 closed

[2020-08-17 23:58] klesun commented on #162
Fixed `@psalm-return` in [2020.08.18.002](https://plugins.jetbrains.com/plugin/9927-deep-assoc-completion/versions/stable/94773)

![image](https://user-images.githubusercontent.com/5202330/90455415-adc67180-e0fe-11ea-9352-4ebcddca2cff.png)